<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="/fragments/head_line.html :: head_line">-- thymeleaf head_line --</div>
  </head>
  <body data-template="template-soccer">

    <div class="site-wrapper clearfix">
      <div class="site-overlay"></div>
      <!-- Header ================================================== -->
      <!-- Header Mobile -->
      <div th:replace="/fragments/header_mobile.html :: header_mobile">-- thymeleaf header_mobile
        --
      </div>

      <!-- Header Desktop -->
      <header class="header header--layout-1">
        <div th:replace="/fragments/header_desktop.html :: header_desktop">-- thymeleaf
          header_desktop --
        </div>
      </header>

      <!-- Pushy Panel - Dark -->
      <div th:replace="/fragments/custom_pushy_panel.html :: custom_pushy_panel">-- thymeleaf
        custom_pushy_panel --
      </div>
      <!-- Pushy Panel - Dark / End -->

      <!-- Page Heading ================================================== -->
      <div class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <h1 class="page-heading__title">경기 <span class="highlight">중계</span></h1>
            </div>
          </div>
        </div>
      </div>

      <div class="site-content">
        <div class="container">
          <div class="row">
            <!-- Content -->
            <div class="content col-lg-8">
              <!-- Game Scoreboard -->
              <!--              <div class="card">-->
              <!--                <header class="card__header card__header&#45;&#45;has-btn">-->
              <!--                  <h4>Last Game Results</h4>-->
              <!--                  <a href="#" class="btn btn-default btn-outline btn-xs card-header__button">Check-->
              <!--                    previous Results</a>-->
              <!--                </header>-->
              <!--                <div class="card__content">-->
              <!--                  &lt;!&ndash; Game Result &ndash;&gt;-->
              <!--                  <div class="game-result">-->
              <!--                    <section class="game-result__section pt-0">-->
              <!--                      <header class="game-result__header game-result__header&#45;&#45;alt">-->
              <!--                        <span class="game-result__league">K리그 1</span>-->
              <!--                        <h3 class="game-result__title" th:text="${result.stadium}"></h3>-->
              <!--                        <time class="game-result__date" th:text="${result.fDate}"></time>-->
              <!--                      </header>-->
              <!--                      <div class="game-result__content">-->

              <!--                        &lt;!&ndash; 1st Team &ndash;&gt;-->
              <!--                        <div class="game-result__team game-result__team&#45;&#45;first">-->
              <!--                          <figure class="game-result__team-logo">-->
              <!--                            <img-->
              <!--                                src="assets/images/soccer/logos/alchemists_last_game_results_big.png"-->
              <!--                                alt="">-->
              <!--                          </figure>-->
              <!--                          <div class="game-result__team-info">-->
              <!--                            <h5 class="game-result__team-name">Alchemists</h5>-->
              <!--                            <div class="game-result__team-desc">Elric Bros School</div>-->
              <!--                          </div>-->
              <!--                        </div>-->
              <!--                        &lt;!&ndash; 1st Team / End &ndash;&gt;-->

              <!--                        <div class="game-result__score-wrap">-->
              <!--                          <div class="game-result__score game-result__score&#45;&#45;lg">-->
              <!--                            <span-->
              <!--                                class="game-result__score-result game-result__score-result&#45;&#45;winner">2</span>-->
              <!--                            <span class="game-result__score-dash">-</span> <span-->
              <!--                              class="game-result__score-result game-result__score-result&#45;&#45;loser">0</span>-->
              <!--                          </div>-->
              <!--                          <div class="game-result__score-label">Final Score</div>-->
              <!--                        </div>-->

              <!--                        &lt;!&ndash; 2nd Team &ndash;&gt;-->
              <!--                        <div class="game-result__team game-result__team&#45;&#45;second">-->
              <!--                          <figure class="game-result__team-logo">-->
              <!--                            <img src="assets/images/samples/logo-l-clovers&#45;&#45;sm.png" alt="">-->
              <!--                          </figure>-->
              <!--                          <div class="game-result__team-info">-->
              <!--                            <h5 class="game-result__team-name">Clovers</h5>-->
              <!--                            <div class="game-result__team-desc">St Paddy's Institute</div>-->
              <!--                          </div>-->
              <!--                        </div>-->
              <!--                        &lt;!&ndash; 2nd Team / End &ndash;&gt;-->
              <!--                      </div>-->
              <!--                    </section>-->
              <!--                    <div class="spacer"></div>-->
              <!--                    <section class="game-result__section">-->
              <!--                      <header class="game-result__header game-result__header&#45;&#45;alt">-->
              <!--                        <span class="game-result__goal">Franklin Stevens (22’) <i-->
              <!--                            class="icon-svg icon-soccer-ball"></i></span>-->
              <!--                        <span class="game-result__goal">Christofer Grass (68’) (P) <i-->
              <!--                            class="icon-svg icon-soccer-ball"></i></span>-->
              <!--                      </header>-->
              <!--                    </section>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->
              <!-- Game Scoreboard / End -->

              <!-- Team Roster: Table -->
              <div class="card card--has-table">
                <div class="card__header card__header--has-btn">
                  <h4>중계</h4>
                </div>
                <div class="card__content">
                  <div class="table-responsive">
                    <table class="table table--lg team-roster-table">
                      <tbody>
                      <tr th:each="l : ${list}">
                        <td>[[${l.rDate}]]</td>
                        <td>[[${l.rText}]]</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- Content / End -->

            <!-- Sidebar -->
            <div class="sidebar col-lg-4">
              <div>
                <aside class="widget card widget--sidebar widget-newslog">
                  <div class="widget__title card__header">
                    채팅하기
                  </div>
                  <iframe src="http://localhost:3000/room"
                          style="border:none; width:100%; height: 1000px; overflow-y: auto"></iframe>
                </aside>
              </div>
            </div>
            <!-- Sidebar / End -->
          </div>
        </div>
      </div>
      <!-- Footer ================================================== -->
      <footer id="footer" class="footer">
        <!-- Footer Widgets -->
        <div class="footer-widgets">
          <div class="footer-widgets__inner">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-lg-3">
                  <div class="footer-col-inner">

                    <!-- Footer Logo -->
                    <div class="footer-logo footer-logo--has-txt">
                      <a href="index.html">
                        <img src="assets/images/soccer/logo-footer.png"
                             srcset="assets/images/soccer/logo-footer@2x.png 2x"
                             alt="The Alchemists" class="footer-logo__img">
                        <div class="footer-logo__heading">
                          <h5 class="footer-logo__txt">The Alchemists</h5>
                          <span class="footer-logo__tagline">Elric Bros School</span>
                        </div>
                      </a>
                    </div>
                    <!-- Footer Logo / End -->

                    <!-- Widget: Contact Info -->
                    <div class="widget widget--footer widget-contact-info">
                      <div class="widget__content">
                        <div class="widget-contact-info__desc">
                          <p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod
                            tempor incididunt uten labore et dolore magna aliqua. Ut enim ad minim
                            veniam.</p>
                        </div>
                        <div class="widget-contact-info__body info-block">
                          <div class="info-block__item">
                            <svg role="img" class="df-icon df-icon--soccer-ball">
                              <use xlink:href="assets/images/icons-soccer.svg#soccer-ball"/>
                            </svg>
                            <h6 class="info-block__heading">Contact Us</h6>
                            <a class="info-block__link" href="mailto:tryouts@alchemists.com">tryouts@alchemists.com</a>
                          </div>
                          <div class="info-block__item">
                            <svg role="img" class="df-icon df-icon--whistle">
                              <use xlink:href="assets/images/icons-soccer.svg#whistle"/>
                            </svg>
                            <h6 class="info-block__heading">Join Our Team!</h6>
                            <a class="info-block__link" href="mailto:info@alchemists.com">info@alchemists.com</a>
                          </div>
                          <div class="info-block__item info-block__item--nopadding">
                            <ul class="social-links">
                              <li class="social-links__item">
                                <a href="#" class="social-links__link"><i
                                    class="fab fa-facebook"></i> Facebook</a>
                              </li>
                              <li class="social-links__item">
                                <a href="#" class="social-links__link"><i
                                    class="fab fa-twitter"></i> Twitter</a>
                              </li>
                              <li class="social-links__item">
                                <a href="#" class="social-links__link"><i
                                    class="fab fa-instagram"></i> Instagram</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Widget: Contact Info / End -->
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="footer-col-inner">
                    <!-- Widget: Popular Posts / End -->
                    <div class="widget widget--footer widget-popular-posts">
                      <h4 class="widget__title">Popular News</h4>
                      <div class="widget__content">
                        <ul class="posts posts--simple-list">

                          <li class="posts__item posts__item--category-1">
                            <figure class="posts__thumb posts__thumb--hover">
                              <a href="#"><img src="assets/images/samples/post-img3-xs.jpg" alt=""></a>
                            </figure>
                            <div class="posts__inner">
                              <div class="posts__cat">
                                <span class="label posts__cat-label">The Team</span>
                              </div>
                              <h6 class="posts__title posts__title--color-hover"><a
                                  href="_soccer_blog-post-1.html">The new eco friendly stadium won a
                                Leafy Award in 2017</a></h6>
                              <time datetime="2017-08-21" class="posts__date">June 12th, 2018</time>
                            </div>
                          </li>
                          <li class="posts__item posts__item--category-2">
                            <figure class="posts__thumb posts__thumb--hover">
                              <a href="#"><img src="assets/images/samples/post-img18-xs.jpg" alt=""></a>
                            </figure>
                            <div class="posts__inner">
                              <div class="posts__cat">
                                <span class="label posts__cat-label">Injuries</span>
                              </div>
                              <h6 class="posts__title posts__title--color-hover"><a
                                  href="_soccer_blog-post-1.html">Jenny Jackson won&#x27;t be able
                                to play the next game</a></h6>
                              <time datetime="2017-08-21" class="posts__date">June 2nd, 2018</time>
                            </div>
                          </li>
                          <li class="posts__item posts__item--category-1">
                            <figure class="posts__thumb posts__thumb--hover">
                              <a href="#"><img src="assets/images/samples/post-img8-xs.jpg" alt=""></a>
                            </figure>
                            <div class="posts__inner">
                              <div class="posts__cat">
                                <span class="label posts__cat-label">The Team</span>
                              </div>
                              <h6 class="posts__title posts__title--color-hover"><a
                                  href="_soccer_blog-post-1.html">The team is starting a new power
                                breakfast regimen</a></h6>
                              <time datetime="2017-08-21" class="posts__date">January 25th, 2018
                              </time>
                            </div>
                          </li>

                        </ul>
                      </div>
                    </div>
                    <!-- Widget: Popular Posts / End -->
                  </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-sm-6 col-lg-3">
                  <div class="footer-col-inner">
                    <!-- Widget: Featured News / End -->
                    <div class="widget widget--footer widget-featured-posts">
                      <h4 class="widget__title">Featured News</h4>
                      <div class="widget__content">
                        <ul class="posts posts--simple-list">

                          <li class="posts__item posts__item--category-1">
                            <figure class="posts__thumb posts__thumb--hover">
                              <a href="#"><img src="assets/images/samples/post-img21-xs.jpg" alt=""></a>
                            </figure>
                            <div class="posts__inner">
                              <div class="posts__cat">
                                <span class="label posts__cat-label">The Team</span>
                              </div>
                              <h6 class="posts__title posts__title--color-hover"><a
                                  href="_soccer_blog-post-1.html">The team trainings are
                                instensifying looking at the next match</a></h6>
                              <time datetime="2017-08-21" class="posts__date">August 21st, 2018
                              </time>
                            </div>
                          </li>
                          <li class="posts__item posts__item--category-1">
                            <figure class="posts__thumb posts__thumb--hover">
                              <a href="#"><img src="assets/images/samples/post-img5-xs.jpg" alt=""></a>
                            </figure>
                            <div class="posts__inner">
                              <div class="posts__cat">
                                <span class="label posts__cat-label">The Team</span>
                              </div>
                              <h6 class="posts__title posts__title--color-hover"><a
                                  href="_soccer_blog-post-1.html">The Alchemists team is appearing
                                in L.A. Beach for charity</a></h6>
                              <time datetime="2017-08-21" class="posts__date">July 13th, 2018</time>
                            </div>
                          </li>
                          <li class="posts__item posts__item--category-3">
                            <figure class="posts__thumb posts__thumb--hover">
                              <a href="#"><img src="assets/images/samples/post-img20-xs.jpg" alt=""></a>
                            </figure>
                            <div class="posts__inner">
                              <div class="posts__cat">
                                <span class="label posts__cat-label">The League</span>
                              </div>
                              <h6 class="posts__title posts__title--color-hover"><a
                                  href="_soccer_blog-post-1.html">The Alchemists need two win the
                                next two games</a></h6>
                              <time datetime="2017-08-21" class="posts__date">May 7th, 2018</time>
                            </div>
                          </li>

                        </ul>
                      </div>
                    </div>
                    <!-- Widget: Featured News / End -->
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="footer-col-inner">

                    <!-- Widget: Contact / End -->
                    <div class="widget widget--footer widget-contact">
                      <h4 class="widget__title">Quick Contact</h4>
                      <div class="widget__content">
                        <p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod
                          tempor.</p>
                        <form action="#" class="contact-form">
                          <div class="form-group form-group--xs">
                            <input type="email" class="form-control input-sm"
                                   id="contact-form-email" placeholder="Your email address...">
                          </div>
                          <div class="form-group form-group--xs">
                            <textarea class="form-control input-sm" name="contact-form-message"
                                      rows="4" placeholder="Your message..."></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary-inverse btn-sm btn-block">
                            Send Your Message
                          </button>
                        </form>
                      </div>
                    </div>
                    <!-- Widget: Contact / End -->

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Sponsors -->
          <div class="container">
            <div class="sponsors">
              <h6 class="sponsors-title">Our Sponsors:</h6>
              <ul class="sponsors-logos">
                <li class="sponsors__item">
                  <a href="#" target="_blank"><img src="assets/images/soccer/sponsor-visa.png"
                                                   alt=""></a>
                </li>
                <li class="sponsors__item">
                  <a href="#" target="_blank"><img src="assets/images/soccer/sponsor-discover.png"
                                                   alt=""></a>
                </li>
                <li class="sponsors__item">
                  <a href="#" target="_blank"><img src="assets/images/soccer/sponsor-paypal.png"
                                                   alt=""></a>
                </li>
                <li class="sponsors__item">
                  <a href="#" target="_blank"><img src="assets/images/soccer/sponsor-skrill.png"
                                                   alt=""></a>
                </li>
                <li class="sponsors__item">
                  <a href="#" target="_blank"><img
                      src="assets/images/soccer/sponsor-westernunion.png" alt=""></a>
                </li>
                <li class="sponsors__item">
                  <a href="#" target="_blank"><img src="assets/images/soccer/sponsor-payoneer.png"
                                                   alt=""></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Sponsors / End -->

        </div>
        <!-- Footer Widgets / End -->

        <!-- Footer Secondary -->
        <div class="footer-secondary">
          <div class="container">
            <div class="footer-secondary__inner">
              <div class="row">
                <div class="col-md-4">
                  <div class="footer-copyright"><a href="_soccer_index.html">The Alchemists</a> 2020
                    &nbsp; | &nbsp; All Rights Reserved
                  </div>
                </div>
                <div class="col-md-8">
                  <ul class="footer-nav footer-nav--right footer-nav--condensed footer-nav--sm">
                    <li class="footer-nav__item"><a href="_soccer_index.html">Home</a></li>
                    <li class="footer-nav__item"><a
                        href="_soccer_features-shortcodes.html">Features</a></li>
                    <li class="footer-nav__item"><a
                        href="_soccer_team-standings.html">Statistics</a></li>
                    <li class="footer-nav__item"><a href="_soccer_team-overview.html">The Team</a>
                    </li>
                    <li class="footer-nav__item"><a href="_soccer_blog-3.html">News</a></li>
                    <li class="footer-nav__item"><a href="_soccer_shop-grid.html">Shop</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer Secondary / End -->
      </footer>
      <!-- Footer / End -->


      <!-- Login/Register Tabs Modal -->
      <div class="modal fade" id="modal-login-register-tabs" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal--login modal--login-only" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

              <div class="modal-account-holder">
                <div class="modal-account__item modal-account__item--logo">
                  <p class="modal-account__item-register-txt">Don’t have an account? <a href="#">Register
                    Now</a> and enjoy all our benefits!</p>
                </div>
                <div class="modal-account__item">

                  <!-- Tab panes -->
                  <div class="tab-content">

                    <!-- Tab: Login -->
                    <div role="tabpanel" class="tab-pane fade show active" id="tab-login">

                      <!-- Login Form -->
                      <form action="#" class="modal-form">
                        <h5>Login to your account</h5>
                        <div class="form-group">
                          <input type="email" class="form-control"
                                 placeholder="Enter your email address...">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control"
                                 placeholder="Enter your password...">
                        </div>
                        <div class="form-group form-group--pass-reminder">
                          <label class="checkbox checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1" checked>
                            Remember Me
                            <span class="checkbox-indicator"></span>
                          </label>
                          <a href="#">Forgot your password?</a>
                        </div>
                        <div class="form-group form-group--submit">
                          <a href="_soccer_shop-account.html"
                             class="btn btn-primary-inverse btn-block">Enter to your account</a>
                        </div>
                        <div class="modal-form--social">
                          <h6>or Login with your social profile:</h6>
                          <ul class="social-links social-links--btn text-center">
                            <li class="social-links__item">
                              <a href="#"
                                 class="social-links__link social-links__link--lg social-links__link--fb"><i
                                  class="fab fa-facebook"></i></a>
                            </li>
                            <li class="social-links__item">
                              <a href="#"
                                 class="social-links__link social-links__link--lg social-links__link--twitter"><i
                                  class="fab fa-twitter"></i></a>
                            </li>
                            <li class="social-links__item">
                              <a href="#"
                                 class="social-links__link social-links__link--lg social-links__link--gplus"><i
                                  class="fab fa-google-plus-g"></i></a>
                            </li>
                          </ul>
                        </div>
                      </form>
                      <!-- Login Form / End -->

                    </div>
                    <!-- Tab: Login / End -->

                    <!-- Tab: Register -->
                    <div role="tabpanel" class="tab-pane fade" id="tab-register">

                      <!-- Register Form -->
                      <form action="#" class="modal-form">
                        <h5>Register Now!</h5>
                        <div class="form-group">
                          <input type="email" class="form-control"
                                 placeholder="Enter your email address...">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control"
                                 placeholder="Enter your password...">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control"
                                 placeholder="Repeat your password...">
                        </div>
                        <div class="form-group form-group--submit">
                          <a href="_soccer_shop-account.html" class="btn btn-success btn-block">Create
                            Your Account</a>
                        </div>
                        <div class="modal-form--note">You’ll receive a confirmation email in your
                          inbox with a link to activate your account.
                        </div>
                      </form>
                      <!-- Register Form / End -->

                    </div>
                    <!-- Tab: Register / End -->

                  </div>

                  <!-- Nav tabs -->
                  <div class="nav-tabs-login-wrapper">
                    <ul class="nav nav-tabs nav-justified nav-tabs--login" role="tablist">
                      <li class="nav-item"><a class="nav-link active" href="#tab-login" role="tab"
                                              data-toggle="tab">Login</a></li>
                      <li class="nav-item"><a class="nav-link" href="#tab-register" role="tab"
                                              data-toggle="tab">Register</a></li>
                    </ul>
                  </div>
                  <!-- Nav tabs / End -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Login/Register Tabs Modal / End -->

    </div>

    <!-- Javascript Files
    ================================================== -->
    <!-- Core JS -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/jquery/jquery-migrate.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/core.js"></script>

    <!-- Vendor JS -->
    <script src="assets/vendor/twitter/jquery.twitter.js"></script>

    <!-- Template JS -->
    <script src="assets/js/init.js"></script>
    <script src="assets/js/custom.js"></script>

    <div th:replace="/fragments/script_line.html :: script_line">-- thymeleaf script_line --</div>
  </body>
</html>
