<!-- Header Logo -->
<div class="header-logo">
	<a href="_esports_index.html"><img src="{{../root}}assets/images/esports/logo.png" srcset="{{../root}}assets/images/esports/logo@2x.png 2x" alt="Alchemists" class="header-logo__img"></a>
</div>
<!-- Header Logo / End -->
