.posts--simple-list .post-category {
  float: left;
  width: 50%;
}

@media (max-width: 479px) {
  .posts--simple-list .post-category {
    width: 40%;
  }
}

.posts--simple-list .post-category__avatar {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}

.posts--simple-list .post-category__avatar img {
  vertical-align: top;
}

@media (max-width: 479px) {
  .posts--simple-list .post-category__avatar {
    display: none;
  }
}

.posts--simple-list .post-category__name {
  font-size: 10px;
  text-transform: uppercase;
  color: #9a9da2;
  font-weight: 400;
}

.posts__item--card .post-category {
  display: table-cell;
  width: 50%;
  text-align: left;
}

@media (max-width: 479px) {
  .posts__item--card .post-category {
    width: 40%;
  }
}

.posts__item--card .post-category__avatar {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}

.posts__item--card .post-category__avatar img {
  vertical-align: top;
}

@media (max-width: 479px) {
  .posts__item--card .post-category__avatar {
    display: none;
  }
}

.posts__item--card .post-category__name {
  font-size: 10px;
  text-transform: uppercase;
  color: #9a9da2;
  font-weight: 400;
  font-style: normal;
}

.posts__item--tile .post-category {
  display: inline-block;
  margin-right: 14px;
  position: relative;
  top: -2px;
}

.posts__item--tile .post-category__avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
  width: 24px;
  height: 24px;
  float: none;
  margin-right: 5px;
}

.posts__item--tile .post-category__name {
  margin: 0;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  color: #9a9da2;
}

.posts--slider-featured .post-category {
  color: #fff;
}

.posts--slider-featured .post-category__avatar {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

@media (min-width: 768px) {
  .posts--slider-featured .post-category__avatar {
    margin-right: 8px;
  }
}

.posts--slider-featured .post-category__name,
.posts--slider-featured .posts__date {
  font-size: 9px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .posts--slider-featured .post-category__name,
  .posts--slider-featured .posts__date {
    font-size: 11px;
  }
}

.posts__item--desc-center .post-category__avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.posts--slider-top-news .post-category {
  display: inline-block;
}

.posts--slider-top-news .post-category__avatar {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .posts--slider-top-news .post-category__avatar {
    margin-right: 8px;
  }
}

.post-category__header {
  overflow: hidden;
  margin-bottom: 26px;
}

.post-category__avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 14px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.post-category__avatar img {
  max-width: 100%;
  height: auto;
}

.post-category__info {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.post-category__name {
  margin-bottom: .2em;
}

.post-category__slogan {
  display: block;
  font-size: 11px;
  line-height: 1.2em;
  font-family: "Montserrat", sans-serif;
  color: #9a9da2;
  font-weight: 400;
}

.post-category__social-links.social-links {
  padding: 10px 0 0 0;
}

@media (min-width: 992px) {
  .post-category__social-links.social-links {
    padding: 0;
    float: right;
    margin-right: -2px;
  }
}

.post-category--avatar-left .post-category__header {
  margin-bottom: 12px;
  padding-top: 5px;
}

.post-category--avatar-left .post-category__avatar {
  float: left;
  margin-right: 24px;
}

.post__meta-block--side .post-category__name {
  font-size: 13px;
}

  .post__meta-block--side .post-category {
    text-align: center;
    padding-bottom: 34px;
  }
  .post__meta-block--side .post-category__avatar {
    float: none;
    margin: 0 auto 8px auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .post__meta-block--side .post-category__name {
    font-size: 10px;
    line-height: 1.2em;
    margin-bottom: 0.75em;
  }
  .post__meta-block--side .post-category__slogan {
    font-size: 9px;
  }

.post__meta-block--top .post-category {
  text-align: center;
}

.post__meta-block--top .post-category__avatar {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 10px auto;
}

.post__meta-block--top .post-category__name {
  font-size: 13px;
  color: #fff;
}

.post__meta-block--top .post-category__slogan {
  font-size: 10px;
  font-weight: 400;
}

.post__meta-block--side-wide .post-category {
  margin-bottom: 18px;
}

.post__meta-block--side-wide .post-category__avatar {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 5px;
}

.post__meta-block--side-wide .post-category__name {
  font-size: 10px;
  line-height: 1.2em;
  color: #9a9da2;
  font-weight: 400;
  font-style: normal;
}
