<!-- Yearly Stats -->
<div class="card">
	<div class="card__header card__header--has-legend">
		<h4>Yearly Stats</h4>
		<div id="gamesYearlyLegendEsports" class="chart-legend"></div>
	</div>
	<div class="card__content">
		<canvas id="yearly-history-esports" class="points-history-chart" height="127"></canvas>
	</div>
</div>
<!-- Yearly Stats / End -->
