<!-- Widget: Horizontal Bar Chart -->
<aside class="widget card widget--sidebar">
	<div class="widget__title card__header">
		<h4>Horizontal Bar Chart</h4>
	</div>
	<div class="widget__content card__content">
		<canvas id="chart-horizontal-bars-esports" class="games-history-chart" height="230"></canvas>
	</div>
</aside>
<!-- Widget: Horizontal Bar Chart / End -->
