<!-- Widget: Links -->
<aside class="widget widget--footer widget_nav_menu">
	<h4 class="widget__title">Streams</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li><a href="_esports_team-player.html">The Destroy</a>
			<li><a href="_esports_team-player.html">FayeDaBebop</a>
			<li><a href="_esports_team-player.html">Crazzzy_80</a>
			<li><a href="_esports_team-player.html">Game Huntress</a>
			<li><a href="_esports_team-player.html">Logan-X</a>
			<li><a href="_esports_team-player.html">Kelly_Spiegel9</a>
		</ul>
	</div>
</aside>
<!-- Widget: Links / End -->
