<!-- Widget: Featured Player - Alternative Extended -->
<aside class="widget card widget--sidebar widget-player widget-player--sm">
	<div class="widget__title card__header card__header--has-btn">
		<h4>Featured Player</h4>
		<a href="#" class="btn btn-default btn-xs card-header__button">Check Full Roster</a>
	</div>
	<div class="widget__content card__content">
		<figure class="widget-player__photo">
			<img src="{{../root}}assets/images/esports/samples/widget-featured-player.png" alt="">
		</figure>
		<header class="widget-player__header clearfix">
			<h4 class="widget-player__name">
				<span class="widget-player__first-name">The Game</span>
				<span class="widget-player__last-name">Huntress</span>
			</h4>
			<span class="widget-player__info">April Summers</span>
			<span class="widget-player__rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
			</span>
		</header>
		<div class="widget-player__overlay effect-duotone effect-duotone--base"></div>
	</div>

	<!-- Secondary (stats) -->
	<div class="widget__content-secondary">

		<!-- Player Details -->
		<div class="widget-player__details">

			<div class="widget-player__details__item">
				<div class="widget-player__details-desc-wrapper">
					<span class="widget-player__details-holder">
						<span class="widget-player__details-label">Matches Played</span>
						<span class="widget-player__details-desc">In her career</span>
					</span>
					<span class="widget-player__details-value">28</span>
				</div>
			</div>
			<div class="widget-player__details__item">
				<div class="widget-player__details-desc-wrapper">
					<span class="widget-player__details-holder">
						<span class="widget-player__details-label">Avg Damage/Min</span>
						<span class="widget-player__details-desc">In her career</span>
					</span>
					<span class="widget-player__details-value">547.2</span>
				</div>
			</div>
			<div class="widget-player__details__item">
				<div class="widget-player__details-desc-wrapper">
					<span class="widget-player__details-holder">
						<span class="widget-player__details-label">Total Kills</span>
						<span class="widget-player__details-desc">In her career</span>
					</span>
					<span class="widget-player__details-value">3640</span>
				</div>
			</div>
			<div class="widget-player__details__item">
				<div class="widget-player__details-desc-wrapper">
					<span class="widget-player__details-holder">
						<span class="widget-player__details-label">Total Deaths</span>
						<span class="widget-player__details-desc">In her career</span>
					</span>
					<span class="widget-player__details-value">908</span>
				</div>
			</div>
			<div class="widget-player__details__item">
				<div class="widget-player__details-desc-wrapper">
					<span class="widget-player__details-holder">
						<span class="widget-player__details-label">Total Assists</span>
						<span class="widget-player__details-desc">In her career</span>
					</span>
					<span class="widget-player__details-value">1953</span>
				</div>
			</div>
			<div class="widget-player__details__item">
				<div class="widget-player__details-desc-wrapper">
					<span class="widget-player__details-holder">
						<span class="widget-player__details-label">Total Pentakills</span>
						<span class="widget-player__details-desc">In her career</span>
					</span>
					<span class="widget-player__details-value">307</span>
				</div>
			</div>


		</div>
		<!-- Player Details / End -->

	</div>
	<!-- Secondary (stats) / End -->

	<!-- Tertiary -->
	<div class="widget__content-tertiary">
		<div class="widget__content-inner">
			<div class="widget-player__stats row align-items-center">
				<div class="col-6 col-sm-3">
					<div class="widget-player__stat-item">
						<div class="widget-player__stat--value">4.2</div>
						<div class="widget-player__stat--label">Avg Kills</div>
						<div class="widget-player__stat--desc">in her career</div>
					</div>
				</div>
				<div class="col-6 col-sm-3">
					<div class="widget-player__stat-item">
						<div class="widget-player__stat--value">1.8</div>
						<div class="widget-player__stat--label">Avg Deaths</div>
						<div class="widget-player__stat--desc">in her career</div>
					</div>
				</div>
				<div class="col-6 col-sm-3">
					<div class="widget-player__stat-item">
						<div class="widget-player__stat--value">6.5</div>
						<div class="widget-player__stat--label">Avg Assists</div>
						<div class="widget-player__stat--desc">in her career</div>
					</div>
				</div>
				<div class="col-6 col-sm-3">
					<div class="widget-player__stat-item">
						<div class="widget-player__stat-circular circular circular--size-80">
							<div class="circular__bar" data-percent="84.1">
								<span class="circular__percents">84.1<small>%</small><span class="circular__label">Win Rate</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Tertiary / End -->
</aside>
<!-- Widget: Featured Player - Alternative Extended / End -->
