<!-- Widget: Links -->
<aside class="widget widget--footer widget_nav_menu">
	<h4 class="widget__title">Useful Links</h4>
	<div class="widget__content">
		<div class="row">
			<div class="col">
				<ul class="widget__list">
					<li><a href="_esports_index.html">Home</a></li>
					<li><a href="_esports_blog-1.html">News Page</a></li>
					<li><a href="_esports_blog-post-1.html">Post Page</a></li>
					<li><a href="_esports_team-overview.html">Teams</a></li>
					<li><a href="_esports_team-last-results.html">Team Stats</a></li>
					<li><a href="_esports_team-roster.html">Roster</a></li>
					<li><a href="_esports_event-tournament.html">Tournament</a></li>
				</ul>
			</div>
			<div class="col">
				<ul class="widget__list">
					<li><a href="_esports_team-player.html">Player Bio</a>
					<li><a href="_esports_event-overview-1a.html">Match Stats</a>
					<li><a href="_esports_event-overview-1a.html">Live Stream</a>
					<li><a href="_esports_team-gallery.html">Gallery</a>
					<li><a href="_esports_team-videos.html">Videos</a>
					<li><a href="_esports_shop-fullwidth.html">Merchandise</a>
					<li><a href="_esports_features-shortcodes.html">Shortcodes</a>
				</ul>
			</div>
		</div>
	</div>
</aside>
<!-- Widget: Links / End -->
