<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>통합 차트</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Pie Chart = 우리 프로젝트는 Thymelef를 사용했기 때문에 th:inline을 사용해야 한다.-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
      var temp = [[${cntByPos}]];
      console.log('temp', temp)

      var cntByGroup = [
          ['포지션','선수 수']
      ]
      for (var i in temp){
        cntByGroup.push(temp[i])
      }
      google.charts.load('current', {'packages' : ['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart(){
        var data = google.visualization.arrayToDataTable(cntByGroup);
        var options = {
          title: '포지션 별 선수 비율'
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

    <!--Area Chart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      var temp2 = [[${cntSocialMember}]];
      console.log('temp2', temp2);
      var countByGroup2 = [
          ['가입유형','가입자 수',{ role:'style'}],
          ['일반 가입자', temp2[0][1], 'sky'],  //[0][1]
          ['소셜 가입자', temp2[1][1], 'red']   //[1][1]
      ]                    // of = temp2를 사용하지 않고 데이터를 집어 넣을수있다.
      // for(var i in temp2){ // in = temp2 안에있는 인덱스를 foreach
      //   countByGroup2.push(temp2[i]);
      // }
      google.charts.load('current', {'packages' : ['corechart']});
      google.charts.setOnLoadCallback(drawChart2);

      function drawChart2(){
        var data = google.visualization.arrayToDataTable(countByGroup2);
        var options = {
          title : '회원가입 유형 비율',
          width: 600,
          height: 400,
          bar: {groupWidth: "95%"},
          legend: { position: "none" },
        };
        var chart = new google.visualization.BarChart(document.getElementById('Bar_Chart'))
        chart.draw(data,options);
      }
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      var temp3 = [[${cntTeam}]];
      console.log('temp3',temp3);
      var countByGroup3 = [
          ['응원 팀','모임 수']
      ]
      for (var i in temp3){
        countByGroup3.push(temp3[i])
      }
      google.charts.load('current', {'packages':['scatter']});
      google.charts.setOnLoadCallback(drawChart3);

      function drawChart3(){
        var data = google.visualization.arrayToDataTable(countByGroup3);

        var options = {
          title: '팀 별 응원 모임',
          hAxis: {title: '응원 팀', minValue:0, maxValue:15},
          vAxis: {title: '모임 수', minValue: 0, maxValue: 15},
          legend:'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_Bubble'));

        chart.draw(data,options);
      }
    </script>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
        name="keywords"
        content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive"/>
    <meta name="author" content="Codedthemes"/>
    <!-- Favicon icon -->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon"/>
    <!-- Google font-->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"
        rel="stylesheet"
    />
    <!-- waves.css -->
    <link
        rel="stylesheet"
        href="../assets/pages/waves/css/waves.min.css"
        type="text/css"
        media="all"/>
    <!-- Required Fremwork -->
    <link
        rel="stylesheet"
        type="text/css"
        href="../assets/css/bootstrap/css/bootstrap.min.css"
    />
    <!-- waves.css -->
    <link
        rel="stylesheet"
        href="../assets/pages/waves/css/waves.min.css"
        type="text/css"
        media="all"
    />
    <!-- themify icon -->
    <link
        rel="stylesheet"
        type="text/css"
        href="../assets/icon/themify-icons/themify-icons.css"/>
    <!--적용-->

    <!-- font-awesome-n -->
    <link
        rel="stylesheet"
        type="text/css"
        href="../assets/css/font-awesome-n.min.css"/>

    <link
        rel="stylesheet"
        type="text/css"
        href="../assets/css/font-awesome.min.css" />
    <!--적용-->

    <!-- scrollbar.css -->
    <link
        rel="stylesheet"
        type="text/css"
        href="../assets/css/jquery.mCustomScrollbar.css"
    />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
    <!--적용-->
  </head>

  <body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
      <div class="loader-track">
        <div class="preloader-wrapper">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
          <div th:replace="/fragments/admin_header.html :: admin_header">-- thymeleaf admin_header --</div>
        </nav>

        <div class="pcoded-main-container">
          <div class="pcoded-wrapper">
            <!-- pcoded-navbar -->

            <!-- nav.html -->
            <nav class="pcoded-navbar">
              <div th:replace="/fragments/admin_nav.html :: admin_nav">-- thymeleaf admin_nav --</div>
            </nav>
            <!-- 불러오는 스크립트 -->
            <div class="pcoded-content">
              <!-- Page-header start -->
              <div class="page-header">
                <div class="page-block">
                  <div class="row align-items-center">
                    <div class="col-md-8">
                      <div class="page-header-title">
                        <h3 class="m-b-10">EarlyKross_데이터 현황</h3>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="#"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Chart</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Google Chart</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Page-header end -->
              <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                  <div class="page-wrapper">
                    <div class="page-body">
                      <div class="row">

                        <!--Google_BarChart-->
                        <div id="piechart" style='width: 600px; height: 400px;'></div>
                        <!--Google_PieChart-->
                        <div id="Bar_Chart" style="width: 600px; height: 400px;"></div>
                        <!--Google_Area-->
                        <div id="chart_Bubble" style="width: 600px; height: 400px;"></div>
                        <!--Google_Line-->
                        <div id="chart_Line" style="width: 600px; height: 400px;"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="styleSelector">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Warning Section Ends -->

    <!-- Required Jquery -->
    <script type="text/javascript" src="../assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- waves js -->
    <script src="../assets/pages/waves/js/waves.min.js"></script>
    <!-- menu js -->
    <script src="../assets/js/pcoded.min.js"></script>
    <script src="../assets/js/vertical/vertical-layout.min.js"></script>
    <script type="text/javascript" src="../assets/js/script.js"></script>
    <!-- Custom js -->
    <script src="../assets/pages/chart/morris/morris-custom-chart.js"></script>
    <script src="../assets/js/morris.js/morris.js"></script>
    <!-- Morris Chart js 차트 시각화-->
    <script src="../assets/js/raphael/raphael.min.js"></script>
<!--    &lt;!&ndash; jquery slimscroll js &ndash;&gt;-->
<!--        <script-->
<!--            type="text/javascript"-->
<!--            src="../assets/js/jquery-slimscroll/jquery.slimscroll.js">-->
<!--            &lt;!&ndash;적용&ndash;&gt;-->
<!--        </script>-->
<!--&lt;!&ndash;     slimscroll js &ndash;&gt;-->
<!--        <script src="../assets/js/jquery.mCustomScrollbar.concat.min.js"></script>-->
  </body>
</html>

<!--적용-->