<!-- Post Comments -->
<div class="post-comments">
	<header class="post-commments__header">
		<h4>18 Comments</h4>
	</header>
	<div class="post-comments__content">

		<ul class="comments comments--alt">
			<li class="comments__item">
				<div class="comments__inner">
					<header class="comment__header">
						<div class="comment__author">
							<figure class="comment__author-avatar comment__author-avatar--md">
								<img src="{{../root}}assets/images/samples/avatar-8.jpg" alt="">
							</figure>
						</div>
					</header>
					<div class="comment__inner-wrap">
						<div class="comment__author-info">
							<h5 class="comment__author-name">Robert Stark</h5>
							<time class="comment__post-date" datetime="2017-08-23">5 minutes ago</time>
						</div>
						<div class="comment__body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
						</div>
						<div class="comment__reply">
							<a href="#" class="comment__reply-link">Reply</a>
						</div>
					</div>
				</div>
			</li>
			<li class="comments__item">
				<div class="comments__inner">
					<header class="comment__header">
						<div class="comment__author">
							<figure class="comment__author-avatar comment__author-avatar--md">
								<img src="{{../root}}assets/images/samples/avatar-2.jpg" alt="">
							</figure>
						</div>
					</header>
					<div class="comment__inner-wrap">
						<div class="comment__author-info">
							<h5 class="comment__author-name">Samantha Rodgers</h5>
							<time class="comment__post-date" datetime="2017-08-23">27 minutes ago</time>
						</div>
						<div class="comment__body">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.
						</div>
						<div class="comment__reply">
							<a href="#" class="comment__reply-link">Reply</a>
						</div>
					</div>
				</div>
				<ul class="comments--children">
					<li class="comments__item">
						<div class="comments__inner">
							<header class="comment__header">
								<div class="comment__author">
									<figure class="comment__author-avatar comment__author-avatar--md">
										<img src="{{../root}}assets/images/samples/avatar-6.jpg" alt="">
									</figure>
								</div>
							</header>
							<div class="comment__inner-wrap">
								<div class="comment__author-info">
									<h5 class="comment__author-name">Lagertha Dax</h5>
									<time class="comment__post-date" datetime="2017-08-23">29 mins ago</time>
								</div>
								<div class="comment__body">
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sectetur, adipisci velit, sed quia non numquam eius modi tempora.
								</div>
								<div class="comment__reply">
									<a href="#" class="comment__reply-link">Reply</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</li>
			<li class="comments__item">
				<div class="comments__inner">
					<header class="comment__header">
						<div class="comment__author">
							<figure class="comment__author-avatar comment__author-avatar--md">
								<img src="{{../root}}assets/images/esports/samples/avatar-14-md.jpg" alt="">
							</figure>
						</div>
					</header>
					<div class="comment__inner-wrap">
						<div class="comment__author-info">
							<h5 class="comment__author-name">Alexander Stevens</h5>
							<time class="comment__post-date" datetime="2017-08-23">6 days ago</time>
						</div>
						<div class="comment__body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
						</div>
						<div class="comment__reply">
							<a href="#" class="comment__reply-link">Reply</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<footer class="post__comments-load-more">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<button class="btn btn-primary btn-block">Load More Comments (14)</button>
			</div>
		</div>
	</footer>

</div>
<!-- Post Comments / End -->
