<!-- Header
================================================== -->

{{> _esports_header-mobile }}

<!-- Header Desktop -->
<header class="header header--layout-3">

	{{> _esports_header-top-bar }}

	<!-- Header Primary -->
	<div class="header__primary">
		<div class="container">
			<div class="header__primary-inner">

				{{> _esports_header-logo }}

				{{> _esports_header-nav }}

				<div class="header__primary-spacer"></div>

				{{> _esports_header-search-form }}

				{{> _esports_header-info-block }}

			</div>
		</div>
	</div>
	<!-- Header Primary / End -->

</header>
<!-- Header / End -->
