<!-- Event Header
================================================== -->
<div class="alc-event-header alc-event-header--layout-3">
	<div class="alc-event-header__top">
		<div class="container">
			<div class="row alc-event-header__top--inner">
				<div class="col alc-event-header__top--primary">
					<h6 class="title">West League 2020 - Final Score</h6>
				</div>
				<div class="col alc-event-header__top--secondary">
					<span class="subtitle subtitle--primary">Madison Cube Garden - <span class="highlight">Kickoff 9:00PM</span></span>
				</div>
				<div class="col alc-event-header__top--tertiary">
					<span class="subtitle subtitle--secondary">Sunday, October 20</span>
				</div>
			</div>
		</div>
	</div>
	<div class="alc-event-header__content">
		<div class="container">
			<div class="alc-event-header__content-inner">

				<!-- Competitors -->
				<div class="alc-event-competitors">
					<!-- Team #1 -->
					<div class="alc-event-competitors__item alc-event-team alc-event-team--winner">
						<div class="alc-event-team__details">
							<h4 class="alc-event-team__name">The Alchemists</h4>
							<div class="alc-event-team__info">4-1, 2-0, Away</div>
						</div>
						<figure class="alc-event-team__logo">
							<img src="{{../root}}assets/images/football/logos/alchemists-59x72.png" alt="">
						</figure>
						<figure class="alc-event-team__logo-bg">
							<img src="{{../root}}assets/images/football/logos/alchemists-297x355.png" alt="">
						</figure>
						<div class="alc-event-team__score-wrap">
							<div class="alc-event-team__score">33</div>
						</div>
					</div>
					<!-- Team #1 / End -->

					<!-- Team #2 -->
					<div class="alc-event-competitors__item alc-event-team alc-event-team">
						<div class="alc-event-team__details">
							<h4 class="alc-event-team__name">Lucky Clovers</h4>
							<div class="alc-event-team__info">0-5, 0-2, Home</div>
						</div>
						<figure class="alc-event-team__logo">
							<img src="{{../root}}assets/images/football/logos/clover-71x62.png" alt="">
						</figure>
						<figure class="alc-event-team__logo-bg">
							<img src="{{../root}}assets/images/football/logos/clovers-341x304.png" alt="">
						</figure>
						<div class="alc-event-team__score-wrap">
							<div class="alc-event-team__score">13</div>
						</div>
					</div>
					<!-- Team #2 / End -->

					<!-- Scoreboard -->
					<div class="alc-event-competitors__status">
						<div class="table-responsive">
							<table class="table table__cell-center table-wrap-bordered table-thead-color">
								<thead>
									<tr>
										<th>Scoreboard</th>
										<th>1</th>
										<th>2</th>
										<th>3</th>
										<th>4</th>
										<th>T</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>Alchemists</th>
										<td>16</td>
										<td>7</td>
										<td>7</td>
										<td>3</td>
										<td>33</td>
									</tr>
									<tr>
										<th>Lucky Clovers</th>
										<td>7</td>
										<td>0</td>
										<td>0</td>
										<td>6</td>
										<td>13</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- Scoreboard / End -->

				</div>
				<!-- Competitors / End -->

			</div>
		</div>
		<div class="alc-event-header__content-team-decor alc-event-header__content-team-decor--color1"></div>
		<div class="alc-event-header__content-team-decor alc-event-header__content-team-decor--color2"></div>
	</div>
</div>
