<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/head_line.html :: head_line">-- thymeleaf head_line --</div>
</head>
<body data-template="template-soccer">
<div class="site-wrapper clearfix">
  <div class="site-overlay"></div>

  <!-- Header ================================================== -->

  <!-- Header Mobile -->
  <div th:replace="/fragments/header_mobile.html :: header_mobile">-- thymeleaf header_mobile --
  </div>

  <!-- Header Desktop -->
  <header class="header header--layout-1">
    <div th:replace="/fragments/header_desktop.html :: header_desktop">-- thymeleaf header_desktop
      --
    </div>
  </header>
  <!-- Header / End -->

  <!-- Pushy Panel - Dark -->
  <div th:replace="/fragments/custom_pushy_panel.html :: custom_pushy_panel">-- thymeleaf
    custom_pushy_panel --
  </div>
  <!-- Pushy Panel - Dark / End -->

  <!-- Page Heading
================================================== -->
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h1 class="page-heading__title">News <span class="highlight">V4</span></h1>
          <ol class="page-heading__breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="_soccer_index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">News V4</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Heading / End -->

  <!-- Post Filter -->
  <div class="post-filter">
    <div class="container">
      <form action="#" class="post-filter__form clearfix">
        <div class="post-filter__select">
          <label class="post-filter__label">Category</label>
          <select class="cs-select cs-skin-border">
            <option value="" disabled selected>All Articles</option>
            <option value="all">All Articles</option>
            <option value="team">The Team</option>
            <option value="playoffs">Playoffs</option>
            <option value="injuries">Injuries</option>
          </select>
        </div>
        <div class="post-filter__select">
          <label class="post-filter__label">Filter By</label>
          <select class="cs-select cs-skin-border">
            <option value="" disabled selected>Article Date</option>
            <option value="date">Article Date</option>
            <option value="id">Article ID</option>
            <option value="comments">Last Comments</option>
            <option value="random">Random</option>
          </select>
        </div>
        <div class="post-filter__select">
          <label class="post-filter__label">Order</label>
          <select class="cs-select cs-skin-border">
            <option value="" disabled selected>Ascending</option>
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
          </select>
        </div>
        <div class="post-filter__select">
          <label class="post-filter__label">Author</label>
          <select class="cs-select cs-skin-border">
            <option value="" disabled selected>All Authors</option>
            <option value="all">All Authors</option>
            <option value="author1">James Spiegel</option>
            <option value="author2">Jessica Hoops</option>
            <option value="author3">Mark Johnson</option>
          </select>
        </div>
        <div class="post-filter__submit">
          <button type="submit" class="btn btn-default btn-lg btn-block">Filter News</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Post Filter / End -->

  <!-- Content
================================================== -->
  <div class="site-content">
    <div class="container">
      <div class="row">
        <!-- Content -->
        <div class="content col-md-12">
          <!-- Posts Grid -->
          <div class="posts posts--cards post-grid post-grid--masonry row">
            <!-- 여기에 추가 -->
            <div class="post-grid__item col-md-6 col-lg-4" th:each="dto : ${result}">
              <div class="posts__item posts__item--card posts__item--category-1 card">
                <figure class="posts__thumb">
                  <div class="posts__cat">
                    <span class="label posts__cat-label">The Team</span>
                  </div>
                  <a th:href="${dto.source}"><img th:src="${dto.imageurl}" alt=""></a>
                </figure>
                <div class="posts__inner card__content">
                  <a href="#" class="posts__cta"></a>
                  <time th:datetime="${dto.updateTime}" class="posts__date"></time>
                  <h6 class="posts__title"><a th:href="${dto.source}" th:text="${dto.title}"></a>
                  </h6>
                </div>
                <footer class="posts__footer card__footer">
                  <div class="post-author">
                    <figure class="post-author__avatar">
                      <img src="../assets/images/samples/avatar-1.jpg" alt="Post Author Avatar">
                    </figure>
                    <div class="post-author__info">
                      <h4 class="post-author__name" th:text="${dto.cName}"></h4>
                    </div>
                  </div>
                  <ul class="post__meta meta">
                    <li class="meta__item meta__item--views">2369</li>
                    <li class="meta__item meta__item--likes"><a href="#"><i
                        class="meta-like icon-heart"></i> 530</a></li>
                    <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                  </ul>
                </footer>
              </div>
            </div>

          </div>
          <!-- Post Grid / End -->

          <!-- Post Pagination -->
          <nav class="post-pagination" aria-label="Blog navigation">
            <ul class="pagination pagination--condensed pagination--lg justify-content-center">
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><span class="page-link">...</span></li>
              <li class="page-item"><a class="page-link" href="#">16</a></li>
            </ul>
          </nav>
          <!-- Post Pagination / End -->
        </div>
        <!-- Content / End -->
      </div>
    </div>
  </div>

  <!-- Content / End -->

  <!-- Footer ================================================== -->
  <footer id="footer" class="footer">
    <!-- Footer Widgets -->
    <div th:replace="/fragments/footer_custom.html :: footer_custom">-- thymeleaf footer_custom --
    </div>
    <!-- Footer Secondary / End -->
  </footer>
  <!-- Footer / End -->

  <!-- Login/Register Tabs Modal -->
  <div th:replace="/fragments/login_register.html :: login_register">-- thymeleaf login_register
    --
  </div>
  <!-- Login/Register Tabs Modal / End -->
</div>
<div th:replace="/fragments/script_line.html :: script_line">-- thymeleaf script_line --</div>
</body>
</html>
