---
layout: esports
page-title: Single Post v2
page-heading: "Single Post <span class=\"highlight\">V2</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "News",
		link: "_esports_blog-1.html"
	},
	{
		label: "Single Post V2"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">

			<!-- Content -->
			<div class="content col-lg-8">

				<!-- Article -->
				<article class="card post post--single">

					<div class="card__content">
						<div class="post__category">
							<span class="label posts__cat-label posts__cat-label--category-2">L.O. Heroes</span>
						</div>
						<header class="post__header">
							<h2 class="post__title">A new mage character is coming to the league</h2>
							<ul class="post__meta meta">
								<li class="meta__item meta__item--author"><img src="{{../root}}assets/images/samples/avatar-6-xs.jpg" alt="Post Author Avatar"> by Lagertha Dax</li>
								<li class="meta__item meta__item--date"><time datetime="2018-08-27">August 27th, 2018</time></li>
								<li class="meta__item meta__item--views">2369</li>
							</ul>
						</header>

						<figure class="post__thumbnail post__thumbnail--square">
							<img src="{{../root}}assets/images/esports/samples/single-post-img2.jpg" alt="">
						</figure>

						<div class="post__content post__content--inner">
							<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam ede corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure nderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>

							<div class="spacer"></div>

							<h4>New ability - Sandbending</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea modo consequat. Duis aute irure dolor in reprehenderit in voluriatur.</p>

							<div class="spacer-sm"></div>

							<figure class="aligncenter">
								<img src="{{../root}}assets/images/esports/samples/single-post-content-img.jpg" alt="">
								<figcaption>With the new sandbending ability, you’ll be able to ride sandboats</figcaption>
							</figure>

							<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
						</div>

						{{> _esports_post-footer }}

					</div>
				</article>
				<!-- Article / End -->

				{{> _esports_post-sharing }}

				{{> _esports_post-related-1 }}

				{{> _esports_post-comments }}

				{{> _esports_post-comments-form }}

			</div>
			<!-- Content / End -->

			<!-- Sidebar -->
			<div id="sidebar" class="sidebar col-lg-4">

				{{> _esports_widget-tabbed }}

				{{> _esports_widget-banner }}

				{{> _esports_widget-popular }}

			</div>
			<!-- Sidebar / End -->
		</div>

	</div>
</div>

<!-- Content / End -->
