<footer class="post__footer">
	<div class="post__tags post__tags--simple">
		<a href="#">Xenowatch</a>
		<a href="#">Alchemists</a>
		<a href="#">Finals</a>
		<a href="#">Tournament</a>
		<a href="#">League</a>
		<a href="#">Destroy</a>
		<a href="#">Match</a>
		<a href="#">Winners</a>
		<a href="#">Prize</a>
	</div>
</footer>
