<!-- Post Sharing Buttons -->
<div class="post-sharing-compact {{class}}">
	<a href="#" class="btn btn-default btn-sm btn-facebook btn-icon"><i class="fab fa-facebook"></i></a>
	<a href="#" class="btn btn-default btn-sm btn-twitter btn-icon"><i class="fab fa-twitter"></i></a>
	<a href="#" class="btn btn-default btn-sm btn-gplus btn-icon"><i class="fab fa-google-plus-g"></i></a>
</div>
<!-- Post Sharing Buttons / End -->
