<!-- Team Pages Filter -->
<nav class="content-filter content-filter--boxed content-filter--highlight-side content-filter--label-left">
	<div class="container">
		<div class="content-filter__inner">
			<a href="#" class="content-filter__toggle"></a>
			<ul class="content-filter__list">
				<li class="content-filter__item {{#ifpage '_esports_team-overview'}}content-filter__item--active{{/ifpage}}"><a href="_esports_team-overview.html" class="content-filter__link"><small>L.O. Heroes</small>Team Overview</a></li>
				<li class="content-filter__item {{#ifpage '_esports_team-roster'}}content-filter__item--active{{/ifpage}}"><a href="_esports_team-roster.html" class="content-filter__link"><small>L.O. Heroes</small>Team Roster</a></li>
				<li class="content-filter__item {{#ifpage '_esports_team-standings'}}content-filter__item--active{{/ifpage}}"><a href="_esports_team-standings.html" class="content-filter__link"><small>L.O. Heroes</small>Full Standings</a></li>
				<li class="content-filter__item {{#ifpage '_esports_team-last-results'}}content-filter__item--active{{/ifpage}}"><a href="_esports_team-last-results.html" class="content-filter__link"><small>L.O. Heroes</small>Latest Results</a></li>
				<li class="content-filter__item {{#ifpage '_esports_team-schedule'}}content-filter__item--active{{/ifpage}}"><a href="_esports_team-schedule.html" class="content-filter__link"><small>L.O. Heroes</small>Next Matches</a></li>
				<li class="content-filter__item {{#ifpage '_esports_team-gallery'}}content-filter__item--active{{/ifpage}}"><a href="_esports_team-gallery.html" class="content-filter__link"><small>L.O. Heroes</small>Team Gallery</a></li>
				<li class="content-filter__item {{#ifpage '_esports_team-videos'}}content-filter__item--active{{/ifpage}}"><a href="_esports_team-videos.html" class="content-filter__link"><small>L.O. Heroes</small>Team Videos</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- Team Pages Filter / End -->
