<!-- Page Heading
================================================== -->
<div class="page-heading page-heading--duotone page-heading--post-bg effect-duotone effect-duotone--tertiary">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<!-- Post Meta - Top -->
				<div class="post__meta-block post__meta-block--top posts__item--category-2">

					<!-- Post Category -->
					<div class="post__category">
						<span class="label posts__cat-label">Injuries</span>
					</div>
					<!-- Post Category / End -->

					<!-- Post Title -->
					<h1 class="page-heading__title">Alchemists coach on <span class="highlight">Jake Summer's injury</span> "It looks really bad"</h1>
					<!-- Post Title / End -->

					<div class="posts__date"><time datetime="2017-08-23">August 23rd, 2017</time></div>

					<!-- Post Meta Info -->
					<ul class="post__meta meta">
						<li class="meta__item meta__item--author">
							<!-- Post Author -->
							<div class="post-author">
								<figure class="post-author__avatar">
									<img src="{{../root}}assets/images/football/samples/avatar-12-xs.jpg" alt="Post Author Avatar">
								</figure>
								<div class="post-author__info">
									<h4 class="post-author__name">Eric Rodgers</h4>
								</div>
							</div>
							<!-- Post Author / End -->
						</li>
						<li class="meta__item meta__item--views">2369</li>
						<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like meta-like--active icon-heart"></i> 530</a></li>
						<li class="meta__item meta__item--comments"><a href="#">18</a></li>
					</ul>
					<!-- Post Meta Info / End -->

				</div>
				<!-- Post Meta - Top / End -->
			</div>
		</div>
	</div>
</div>
