<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="footer_custom">
    <div class="footer-widgets">
      <div class="footer-widgets__inner">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="footer-col-inner">

                <!-- Footer Logo -->
                <div class="footer-logo footer-logo--has-txt">
                  <a href="../index.htmltml">
                    <img src="../../assets/images/soccer/ek_logo.png"
                         srcset="../../assets/images/soccer/ek_logo@2x.png 2x"
                         alt="Alchemists" class="header-logo__img">
                    <div class="footer-logo__heading">
                      <h5 class="footer-logo__txt">EarlyKross</h5>
                      <span class="footer-logo__tagline">K-league football comunity</span>
                    </div>
                  </a>
                </div>
                <!-- Footer Logo / End -->

                <!-- Widget: Contact Info -->
                <div class="widget widget--footer widget-contact-info">
                  <div class="widget__content">
                    <div class="widget-contact-info__desc">
                      <p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor incididunt uten labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="widget-contact-info__body info-block">
                      <div class="info-block__item">
                        <svg role="img" class="df-icon df-icon--soccer-ball">
                          <use xlink:href="../assets/images/icons-soccer.svg#soccer-ball"/>
                        </svg>
                        <h6 class="info-block__heading">Contact Us</h6>
                        <a class="info-block__link" href="mailto:tryouts@alchemists.com">tryouts@alchemists.com</a>
                      </div>
                      <div class="info-block__item">
                        <svg role="img" class="df-icon df-icon--whistle">
                          <use xlink:href="../assets/images/icons-soccer.svg#whistle"/>
                        </svg>
                        <h6 class="info-block__heading">Join Our Team!</h6>
                        <a class="info-block__link" href="mailto:info@alchemists.com">info@alchemists.com</a>
                      </div>
                      <div class="info-block__item info-block__item--nopadding">
                        <ul class="social-links">
                          <li class="social-links__item">
                            <a href="#" class="social-links__link"><i class="fab fa-facebook"></i>Facebook</a>
                          </li>
                          <li class="social-links__item">
                            <a href="#" class="social-links__link"><i class="fab fa-twitter"></i>Twitter</a>
                          </li>
                          <li class="social-links__item">
                            <a href="#" class="social-links__link"><i class="fab fa-instagram"></i>Instagram</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Widget: Contact Info / End -->
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="footer-col-inner">
                <!-- Widget: Popular Posts / End -->
                <div class="widget widget--footer widget-popular-posts">
                  <h4 class="widget__title">Popular News</h4>
                  <div class="widget__content">
                    <ul class="posts posts--simple-list">

                      <li class="posts__item posts__item--category-1">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="#"><img src="../../assets/images/samples/post-img3-xs.jpg"
                                           alt=""></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The Team</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">The new eco friendly stadium won a Leafy Award in 2017</a></h6>
                          <time datetime="2017-08-21" class="posts__date">June 12th, 2018</time>
                        </div>
                      </li>
                      <li class="posts__item posts__item--category-2">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="#"><img src="../../assets/images/samples/post-img18-xs.jpg" alt=""></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">Injuries</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">Jenny Jackson won&#x27;t be able to play the next game</a></h6>
                          <time datetime="2017-08-21" class="posts__date">June 2nd, 2018</time>
                        </div>
                      </li>
                      <li class="posts__item posts__item--category-1">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="#"><img src="../../assets/images/samples/post-img8-xs.jpg"
                                           alt=""></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The Team</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">The team is starting a new power breakfast regimen</a></h6>
                          <time datetime="2017-08-21" class="posts__date">January 25th, 2018</time>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
                <!-- Widget: Popular Posts / End -->
              </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-sm-6 col-lg-3">
              <div class="footer-col-inner">
                <!-- Widget: Featured News / End -->
                <div class="widget widget--footer widget-featured-posts">
                  <h4 class="widget__title">Featured News</h4>
                  <div class="widget__content">
                    <ul class="posts posts--simple-list">

                      <li class="posts__item posts__item--category-1">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="#"><img src="../../assets/images/samples/post-img21-xs.jpg" alt=""></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The Team</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">The team trainings are instensifying looking at the next match</a></h6>
                          <time datetime="2017-08-21" class="posts__date">August 21st, 2018</time>
                        </div>
                      </li>
                      <li class="posts__item posts__item--category-1">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="#"><img src="../../assets/images/samples/post-img5-xs.jpg"
                                           alt=""></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The Team</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">The Alchemists team is appearing in L.A. Beach for charity</a></h6>
                          <time datetime="2017-08-21" class="posts__date">July 13th, 2018</time>
                        </div>
                      </li>
                      <li class="posts__item posts__item--category-3">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="#"><img src="../../assets/images/samples/post-img20-xs.jpg" alt=""></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The League</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">The Alchemists need two win the next two games</a></h6>
                          <time datetime="2017-08-21" class="posts__date">May 7th, 2018</time>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
                <!-- Widget: Featured News / End -->
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="footer-col-inner">

                <!-- Widget: Contact / End -->
                <div class="widget widget--footer widget-contact">
                  <h4 class="widget__title">Quick Contact</h4>
                  <div class="widget__content">
                    <p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor.</p>
                    <form action="#" class="contact-form">
                      <div class="form-group form-group--xs">
                        <input type="email" class="form-control input-sm" id="contact-form-email"
                               placeholder="Your email address...">
                      </div>
                      <div class="form-group form-group--xs">
                        <textarea class="form-control input-sm" name="contact-form-message" rows="4"
                                  placeholder="Your message..."></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary-inverse btn-sm btn-block">Send Your Message
                      </button>
                    </form>
                  </div>
                </div>
                <!-- Widget: Contact / End -->

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sponsors -->
      <div class="container">
        <div class="sponsors">
<!--          <h6 class="sponsors-title">Our Sponsors:</h6>-->
          <ul class="sponsors-logos" th:each="cList: ${clubList}">
            <li class="sponsors__item">
              <a th:href="${cList.cId.website}" target="_blank"><img th:src="|../upload/emblem/${cList.cId.cId}.png|" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Sponsors / End -->

    </div>
    <!-- Footer Widgets / End -->

    <!-- Footer Secondary -->
    <div class="footer-secondary">
      <div class="container">
        <div class="footer-secondary__inner">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-copyright"><a th:href="@{/}">EarlyKross</a>&nbsp; | &nbsp; All Rights Reserved
              </div>
            </div>
<!--            <div class="col-md-8">-->
<!--              <ul class="footer-nav footer-nav&#45;&#45;right footer-nav&#45;&#45;condensed footer-nav&#45;&#45;sm">-->
<!--                <li class="footer-nav__item"><a href="_soccer_index.html">Home</a></li>-->
<!--                <li class="footer-nav__item"><a href="_soccer_features-shortcodes.html">Features</a>-->
<!--                </li>-->
<!--                <li class="footer-nav__item"><a href="_soccer_team-standings.html">Statistics</a>-->
<!--                </li>-->
<!--                <li class="footer-nav__item"><a href="_soccer_team-overview.html">The Team</a></li>-->
<!--                <li class="footer-nav__item"><a href="_soccer_blog-3.html">News</a></li>-->
<!--                <li class="footer-nav__item"><a href="_soccer_shop-grid.html">Shop</a></li>-->
<!--              </ul>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</html>