<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="footer_custom">
    <div class="footer-widgets">
      <div class="footer-widgets__inner">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="footer-col-inner">

                <!-- Footer Logo -->
                <div class="footer-logo footer-logo--has-txt">
                  <a href="../index.htmltml">
                    <img src="../../assets/images/soccer/ek_logo.png"
                         srcset="../../assets/images/soccer/ek_logo@2x.png 2x"
                         alt="Alchemists" class="header-logo__img">
                    <div class="footer-logo__heading">
<!--                      <h5 class="footer-logo__txt">EarlyKross</h5>-->
                      <span class="footer-logo__tagline">K-league football comunity</span>
                    </div>
                  </a>
                </div>
                <!-- Footer Logo / End -->

                <!-- Widget: Contact Info -->
                <div class="widget widget--footer widget-contact-info">
                  <div class="widget__content">
                    <div class="widget-contact-info__desc">
<!--                      <p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor incididunt uten labore et dolore magna aliqua. Ut enim ad minim veniam.</p>-->
                    </div>
                    <div class="widget-contact-info__body info-block">
                      <div class="info-block__item">
                        <svg role="img" class="df-icon df-icon--soccer-ball">
                          <use xlink:href="../assets/images/icons-soccer.svg#soccer-ball"/>
                        </svg>
                        <h6 class="info-block__heading">Contact Us</h6>
                        <a class="info-block__link" href="mailto:tryouts@alchemists.com">jyson19@gmail.com</a>
                      </div>
                      <div class="info-block__item">
                        <svg role="img" class="df-icon df-icon--whistle">
                          <use xlink:href="../assets/images/icons-soccer.svg#whistle"/>
                        </svg>
                        <h6 class="info-block__heading">Join Our Team!</h6>
                        <a class="info-block__link" href="https://github.com/sontaku/earlykross"></a>
                      </div>
                      <div class="info-block__item info-block__item--nopadding">
<!--                        <ul class="social-links">-->
<!--                          <li class="social-links__item">-->
<!--                            <a href="#" class="social-links__link"><i class="fab fa-facebook"></i>Facebook</a>-->
<!--                          </li>-->
<!--                          <li class="social-links__item">-->
<!--                            <a href="#" class="social-links__link"><i class="fab fa-twitter"></i>Twitter</a>-->
<!--                          </li>-->
<!--                          <li class="social-links__item">-->
<!--                            <a href="#" class="social-links__link"><i class="fab fa-instagram"></i>Instagram</a>-->
<!--                          </li>-->
<!--                        </ul>-->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Widget: Contact Info / End -->
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="footer-col-inner">
                <!-- Widget: Popular Posts / End -->
                <div class="widget widget--footer widget-popular-posts">
                  <h4 class="widget__title">Popular News</h4>
                  <div class="widget__content">
                    <ul class="posts posts--simple-list">

                      <li class="posts__item posts__item--category-1">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="https://www.goal.com/kr/%EB%89%B4%EC%8A%A4/%EC%9A%B8%EC%82%B0-%ED%8C%AC%EB%93%A4%EA%B3%BC-%ED%95%A9%EC%8B%AC%ED%95%B4-%EC%B5%9C%EA%B3%A0%EC%9D%98-%EC%98%88%EC%9A%B0%EB%A1%9C-%E6%95%85%EC%9C%A0%EC%83%81%EC%B2%A0-%EA%B0%90%EB%8F%85%EA%B3%BC-%EB%A7%88%EC%A7%80%EB%A7%89-%EC%9D%B8%EC%82%AC/fsik3q37i9s21jy5eryyh06ge"><img src="../assets/images/news/news_page1img1.jpg" alt="" style="width: 80px; height: 80px"></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The Team</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">울산, 팬들과 합심해 최고의 예우로 故유상철 감독과 마지막 인사</a></h6>
                          <time datetime="2017-08-21" class="posts__date">2021-06-21 05:56:29</time>
                        </div>
                      </li>
                      <li class="posts__item posts__item--category-2">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="https://www.goal.com/kr/%EB%89%B4%EC%8A%A4/goal-live-%EA%B3%B5%EC%A4%91%EB%B3%BC%EB%B0%9C%EC%9E%AC%EA%B0%84-%EB%AA%A8%EB%91%90-%EA%B0%96%EC%B6%98-%EB%AE%AC%EB%A6%AC%EC%B9%98-%EC%84%B1%EB%82%A8-%EB%B0%98%EB%93%B1%EC%9D%98-%EC%A4%91%EC%8B%AC/gjp1mosar5d188t2kxd6dk62"><img src="../assets/images/news/news_page1img2.jpg" alt="" style="width: 80px; height: 80px"></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">Injuries</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">[GOAL LIVE] ‘공중볼+발재간’ 모두 갖춘 뮬리치, 성남 반등의 중심</a></h6>
                          <time datetime="2017-08-21" class="posts__date">2021-06-20 10:10:46</time>
                        </div>
                      </li>
                      <li class="posts__item posts__item--category-1">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="https://www.goal.com/kr/%EB%89%B4%EC%8A%A4/goal-live-%EC%9A%B8%EC%82%B0-%ED%99%8D%EB%AA%85%EB%B3%B4-%EA%B0%90%EB%8F%85%EC%9D%98-%ED%98%B9%ED%8F%89-%ED%8C%A8%ED%95%98%EC%A7%80-%EC%95%8A%EC%9D%80-%EA%B2%83%EC%9D%B4-%EB%8B%A4%ED%96%89/qnqzx1ngsxie1cabxn5nhx1sl"><img src="../assets/images/news/news_page1img3.jpg" alt="" style="width: 80px; height: 80px"></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The Team</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">[GOAL LIVE] 울산 홍명보 감독의 혹평 “패하지 않은 것이 다행”</a></h6>
                          <time datetime="2017-08-21" class="posts__date">2021-06-20 09:46:39</time>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
                <!-- Widget: Popular Posts / End -->
              </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-sm-6 col-lg-3">
              <div class="footer-col-inner">
                <!-- Widget: Featured News / End -->
                <div class="widget widget--footer widget-featured-posts">
                  <h4 class="widget__title"></h4>
                  <div class="widget__content">
                    <ul class="posts posts--simple-list">

                      <li class="posts__item posts__item--category-1">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="https://www.goal.com/kr/%EB%89%B4%EC%8A%A4/goal-live-%EC%84%A0%EB%91%90-%EC%9A%B8%EC%82%B0-%EB%B0%9C%EB%AA%A9-%EC%9E%A1%EC%9D%84-%EB%BB%94%ED%96%88%EB%8D%98-%EC%84%B1%EB%82%A8-%EA%B9%80%EB%82%A8%EC%9D%BC-%EC%95%84%EC%89%BD%EB%8B%A4/rsk6a3o6bvgd13lbam8hohe67"><img src="../assets/images/news/news_page1img4.jpg" alt="" style="width: 80px; height: 80px"></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The Team</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">[GOAL LIVE] 선두 울산 발목 잡을 뻔했던 성남 김남일 “아쉽다”</a></h6>
                          <time datetime="2017-08-21" class="posts__date">2021-06-20 09:45:46</time>
                        </div>
                      </li>
                      <li class="posts__item posts__item--category-1">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="https://www.goal.com/kr/%EB%89%B4%EC%8A%A4/goal-%ED%98%84%EC%9E%A5%EB%A6%AC%EB%B7%B0-%EC%84%A0%EB%91%90-%EC%9A%B8%EC%82%B0-%EC%84%B1%EB%82%A8%EA%B3%BC-2-2-%EB%AC%B4%EC%8A%B9%EB%B6%80-9g-%EB%AC%B4%ED%8C%A8/tdyrdyspsgw11be8c0z6jlux2"><img src="../assets/images/news/news_page1img5.jpg" alt="" style="width: 80px; height: 80px"></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The Team</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">[GOAL 현장리뷰] 선두 울산, 성남과 2-2 무승부… 9G 무패</a></h6>
                          <time datetime="2017-08-21" class="posts__date">2021-06-20 09:44:23</time>
                        </div>
                      </li>
                      <li class="posts__item posts__item--category-3">
                        <figure class="posts__thumb posts__thumb--hover">
                          <a href="https://www.goal.com/kr/%EB%89%B4%EC%8A%A4/%EB%9D%BC%EC%BB%A4%EB%A3%B8-%ED%8C%80-%EB%AF%B8%ED%8C%85-%EC%A0%84%EB%A9%B4%EA%B3%B5%EA%B0%9C-%EC%9A%B8%EC%82%B0%ED%98%84%EB%8C%80-%EB%8B%A4%ED%81%90-%EC%98%81%ED%99%94-%EA%B0%99%EC%9D%80-%EA%B5%AC%EC%84%B1-%EB%88%88%EA%B8%B8/182bc9ipg1qyz1sal4poq3lvb0"><img src="../assets/images/news/news_page1img6.jpg" alt="" style="width: 80px; height: 80px"></a>
                        </figure>
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The League</span>
                          </div>
                          <h6 class="posts__title posts__title--color-hover"><a
                              href="_soccer_blog-post-1.html">‘라커룸-팀 미팅 전면공개’ 울산현대 다큐, 영화 같은 구성 눈길</a></h6>
                          <time datetime="2017-08-21" class="posts__date">2021-06-18 03:58:05</time>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
                <!-- Widget: Featured News / End -->
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="footer-col-inner">

                <!-- Widget: Contact / End -->
                <div class="widget widget--footer widget-contact">
                  <h4 class="widget__title">Quick Contact</h4>
                  <div class="widget__content">
                    <p>궁금하신 사항이 있으시면 연락주세요</p>
                    <form action="#" class="contact-form">
                      <div class="form-group form-group--xs">
                        <input type="email" class="form-control input-sm" id="contact-form-email"
                               placeholder="Your email address...">
                      </div>
                      <div class="form-group form-group--xs">
                        <textarea class="form-control input-sm" name="contact-form-message" rows="4"
                                  placeholder="Your message..."></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary-inverse btn-sm btn-block">Send Your Message
                      </button>
                    </form>
                  </div>
                </div>
                <!-- Widget: Contact / End -->

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sponsors -->
      <div class="container">
        <div class="sponsors">
<!--          <h6 class="sponsors-title"><img src="../../assets/images/soccer/ek_logo.png"-->
<!--                                           srcset="../../assets/images/soccer/ek_logo@2x.png 2x"-->
<!--                                           alt="Alchemists" class="header-logo__img"/>EarlyKross:</h6>-->
<!--          <ul class="sponsors-logos" th:each="cList: ${clubList}">-->
<!--            <li class="sponsors__item">-->
<!--              <a th:href="${cList.cId.website}" target="_blank"><img th:src="|../upload/emblem/${cList.cId.cId}.png|" alt=""></a>-->
<!--            </li>-->
<!--          </ul>-->
          <ul class="sponsors-logos">
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="https://www.uhfc.tv/" target="_blank"><img src="../upload/emblem/1.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="http://www.hyundai-motorsfc.com/" target="_blank"><img src="../upload/emblem/5.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="http://www.bluewings.kr/" target="_blank"><img src="../upload/emblem/2.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="https://www.daegufc.co.kr/" target="_blank"><img src="../upload/emblem/17.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="https://www.steelers.co.kr/" target="_blank"><img src="../upload/emblem/3.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="http://www.jeju-utd.com/" target="_blank"><img src="../upload/emblem/4.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="http://www.suwonfc.com/" target="_blank"><img src="../upload/emblem/29.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="https://www.incheonutd.com/" target="_blank"><img src="../upload/emblem/18.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="https://www.seongnamfc.com/" target="_blank"><img src="../upload/emblem/8.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="https://gangwon-fc.com/" target="_blank"><img src="../upload/emblem/21.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="https://www.fcseoul.com/" target="_blank"><img src="../upload/emblem/9.png" alt=""></a>
            </li>
            <li class="sponsors__item" style="margin: 0 auto; width: 100%">
              <a href="http://www.gwangjufc.com/" target="_blank"><img src="../upload/emblem/22.png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Sponsors / End -->

    </div>
    <!-- Footer Widgets / End -->

    <!-- Footer Secondary -->
    <div class="footer-secondary">
      <div class="container">
        <div class="footer-secondary__inner">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-copyright"><a th:href="@{/}">EarlyKross</a>&nbsp; | &nbsp; All Rights Reserved
              </div>
            </div>
<!--            <div class="col-md-8">-->
<!--              <ul class="footer-nav footer-nav&#45;&#45;right footer-nav&#45;&#45;condensed footer-nav&#45;&#45;sm">-->
<!--                <li class="footer-nav__item"><a href="_soccer_index.html">Home</a></li>-->
<!--                <li class="footer-nav__item"><a href="_soccer_features-shortcodes.html">Features</a>-->
<!--                </li>-->
<!--                <li class="footer-nav__item"><a href="_soccer_team-standings.html">Statistics</a>-->
<!--                </li>-->
<!--                <li class="footer-nav__item"><a href="_soccer_team-overview.html">The Team</a></li>-->
<!--                <li class="footer-nav__item"><a href="_soccer_blog-3.html">News</a></li>-->
<!--                <li class="footer-nav__item"><a href="_soccer_shop-grid.html">Shop</a></li>-->
<!--              </ul>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</html>