<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="header_desktop">

  <!-- Header Top Bar -->
  <div class="header__top-bar clearfix">
    <div class="container">
      <div class="header__top-bar-inner">
        <!-- Account Navigation -->
        <ul class="nav-account">
          <li class="nav-account__item"><a href="#" data-toggle="modal"
                                           data-target="#modal-login-register-tabs">내 계정 </a>
          </li>
          <li class="nav-account__item nav-account__item--wishlist"><a
              href="_soccer_shop-wishlist.html">여기뭐넣지 <span class="highlight">8</span></a></li>
          <!--                    <li class="nav-account__item"><a href="#">Currency: <span class="highlight">USD</span></a>-->
          <!--                        <ul class="main-nav__sub">-->
          <!--                            <li><a href="#">USD</a></li>-->
          <!--                            <li><a href="#">EUR</a></li>-->
          <!--                            <li><a href="#">GBP</a></li>-->
          <!--                        </ul>-->
          <!--                    </li>-->
          <!--                    <li class="nav-account__item"><a href="#">Language: <span class="highlight">EN</span></a>-->
          <!--                        <ul class="main-nav__sub">-->
          <!--                            <li><a href="#">English</a></li>-->
          <!--                            <li><a href="#">Spanish</a></li>-->
          <!--                            <li><a href="#">French</a></li>-->
          <!--                            <li><a href="#">German</a></li>-->
          <!--                        </ul>-->
          <!--                    </li>-->
          <!-- <li class="nav-account__item nav-account__item--logout"><a
              href="_soccer_shop-login.html" id="custom_nav_logout"
              style="color: #F7F7F7">로그아웃</a></li> -->
              <li class="nav-account__item nav-account__item--logout">
<!--                <a href="../member/loginForm" id="custom_nav_logout" style="color: #F7F7F7">로그인</a>-->
          <li class="nav-account__item nav-account__item--logout">
<!--            <a href="../login/login" id="custom_nav_logout" style="color: #F7F7F7">로그인</a>-->
            <a sec:authorize="isAnonymous()" style="color: #F7F7F7" th:href="@{/member/loginForm}">로그인</a>
            <a sec:authorize="isAuthenticated()" style="color: #F7F7F7" th:href="@{/logout}">로그아웃</a>
            <!--                <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>-->
            <a sec:authorize="hasRole('USER')" style="color: #F7F7F7" th:href="@{/user/info}" sec:authentication="name"></a>
            <a sec:authorize="hasRole('ADMIN')" style="color: #F7F7F7" th:href="@{/admin}">어드민</a>
          </li>
              </li>
        </ul>
        <!-- Account Navigation / End -->
      </div>
    </div>
  </div>
  <!-- Header Top Bar / End -->

    <!-- Header Secondary -->
    <div class="header__secondary">
      <div class="container">
        <!-- Header Search Form -->
        <div class="header-search-form">
          <form action="/datacenter/search.do" id="mobile-search-form" class="search-form" method="GET">
            <input type="text"
                   class="form-control header-mobile__search-control"
                   th:value="${keyword}=='' ? '' : ${keyword}"
                   name="keyword"
                   placeholder="검색어를 입력해주세요.">
            <button type="submit" class="header-mobile__search-submit"><i
                class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <!-- Header Search Form / End -->
        <ul class="info-block info-block--header">
          <li class="info-block__item info-block__item--contact-primary" >
            <a class="info-block__link" th:href="@{/best11/best.do}">
            <img src="../assets/images/ek_ground.png" class="df-icon df-icon&#45;&#45;whistle" alt="ground">
            <h6 class="info-block__heading">라운드</h6>
            베스트 <span class="highlight" style="color: #c2ff1f;">일레븐</span></a>
            <!--            <img src="../assets/images/ek_ground.png" alt="ground" style="display:inline; position: absolute">-->
            <!--            <a class="info-block__link" href="mailto:tryouts@alchemists.com" style="position: relative; z-index: 2; color: #FFFFFF; font-size: large">-->
            <!--              <div style="display:inline; float: left;  width: 24px">-->
            <!--                <img src="../assets/images/ek_ground.png" alt="ground">-->
            <!--              </div>-->
            <!--              <div>-->
            <!--                <h3 class="info-block__heading">라운드</h3>베스트 <span class="highlight" style="color: #c2ff1f;">일레븐</span></a>-->
            <!--              </div>-->
          </li>
          <li class="info-block__item info-block__item--contact-secondary">
            <a class="info-block__link" th:href="@{/map/main.do}">
            <svg role="img" class="df-icon df-icon--soccer-ball">
              <use xlink:href="../assets/images/icons-soccer.svg#soccer-ball"/>
            </svg>
            <h6 class="info-block__heading">같이 응원 하자</h6>
            5인 이상 금지!</a>
          </li>
<!--          <li class="info-block__item info-block__item&#45;&#45;shopping-cart js-info-block__item&#45;&#45;onhover">-->
<!--            <a href="#" class="info-block__link-wrapper">-->
<!--              <div class="df-icon-stack df-icon-stack&#45;&#45;bag">-->
<!--                <svg role="img" class="df-icon df-icon&#45;&#45;bag">-->
<!--                  <use xlink:href="../assets/images/icons-basket.svg#bag"/>-->
<!--                </svg>-->
<!--                <svg role="img" class="df-icon df-icon&#45;&#45;bag-handle">-->
<!--                  <use xlink:href="../assets/images/icons-basket.svg#bag-handle"/>-->
<!--                </svg>-->
<!--              </div>-->
<!--              <h6 class="info-block__heading">Your Bag (8 items)</h6>-->
<!--              <span class="info-block__cart-sum">$256,30</span>-->
<!--            </a>-->

<!--          &lt;!&ndash; Dropdown Shopping Cart &ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="header-cart">&ndash;&gt;-->

<!--&lt;!&ndash;            <li class="header-cart__item">&ndash;&gt;-->
<!--&lt;!&ndash;              <figure class="header-cart__product-thumb">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="_soccer_shop-product.html">&ndash;&gt;-->
<!--&lt;!&ndash;                  <img src="../../assets/images/soccer/samples/_soccer_cart-sm-1.jpg" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;              </figure>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="header-cart__inner">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="header-cart__product-cat">Sneakers</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <h5 class="header-cart__product-name"><a href="_soccer_shop-product.html">Sundown&ndash;&gt;-->
<!--&lt;!&ndash;                  Sneaker</a></h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="header-cart__product-ratings">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star empty"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="header-cart__product-sum">&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="header-cart__product-price">$28.00</span> x <span&ndash;&gt;-->
<!--&lt;!&ndash;                    class="header-cart__product-count">2</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="fas fa-times header-cart__close"></div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="header-cart__item">&ndash;&gt;-->
<!--&lt;!&ndash;              <figure class="header-cart__product-thumb">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="_soccer_shop-product.html">&ndash;&gt;-->
<!--&lt;!&ndash;                  <img src="../../assets/images/soccer/samples/_soccer_cart-sm-4.jpg" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;              </figure>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="header-cart__inner">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="header-cart__product-cat">Sneakers</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <h5 class="header-cart__product-name"><a href="_soccer_shop-product.html">Atlantik&ndash;&gt;-->
<!--&lt;!&ndash;                  Sneaker</a></h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="header-cart__product-ratings">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="header-cart__product-sum">&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="header-cart__product-price">$30.00</span> x <span&ndash;&gt;-->
<!--&lt;!&ndash;                    class="header-cart__product-count">4</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="fas fa-times header-cart__close"></div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="header-cart__item">&ndash;&gt;-->
<!--&lt;!&ndash;              <figure class="header-cart__product-thumb">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="_soccer_shop-product.html">&ndash;&gt;-->
<!--&lt;!&ndash;                  <img src="../../assets/images/soccer/samples/_soccer_cart-sm-2.jpg" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;              </figure>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="header-cart__inner">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="header-cart__product-cat">Sneakers</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <h5 class="header-cart__product-name"><a href="_soccer_shop-product.html">Aquarium&ndash;&gt;-->
<!--&lt;!&ndash;                  Sneaker</a></h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="header-cart__product-ratings">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star empty"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-star empty"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="header-cart__product-sum">&ndash;&gt;-->
<!--&lt;!&ndash;                  <span class="header-cart__product-price">$28.00</span> x <span&ndash;&gt;-->
<!--&lt;!&ndash;                    class="header-cart__product-count">1</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="fas fa-times header-cart__close"></div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->

<!--&lt;!&ndash;            <li class="header-cart__item header-cart__item&#45;&#45;subtotal">&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="header-cart__subtotal">Cart Subtotal</span>&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="header-cart__subtotal-sum">$282.00</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="header-cart__item header-cart__item&#45;&#45;action">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="_soccer_shop-cart.html" class="btn btn-default btn-block">Go to Cart</a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="_soccer_shop-checkout.html"&ndash;&gt;-->
<!--&lt;!&ndash;                 class="btn btn-primary-inverse btn-block">Checkout</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--          &lt;!&ndash; Dropdown Shopping Cart / End &ndash;&gt;-->

<!--        </li>-->
      </ul>
    </div>
  </div>
  <!-- Header Secondary / End -->

  <!-- Header Primary -->
  <div class="header__primary">
    <div class="container">
      <div class="header__primary-inner">

        <!-- Header Logo -->
        <div class="header-logo">
          <a th:href="@{/}"><img src="../../assets/images/soccer/ek_logo.png"
                                 srcset="../../assets/images/soccer/ek_logo@2x.png 2x"
                                 alt="Alchemists" class="header-logo__img"></a>
        </div>
        <!-- Header Logo / End -->

        <!-- Main Navigation -->
        <nav class="main-nav clearfix">
          <ul class="main-nav__list">
            <li class="active"><a th:href="@{/}">Home</a></li>
            <li class=""><a th:href="@{/fixture/fixture.do}">경기일정</a></li>
            <!--              <li class=""><a href="#" class="custom_top_menu">경기일정</a></li>-->
            <!--                            <div class="main-nav__megamenu clearfix">-->
            <!--                                <ul class="col-lg-2 col-md-3 col-12 main-nav__ul">-->
            <!--                                    <li class="main-nav__title">Features</li>-->
            <!--                                    <li><a href="_soccer_features-shortcodes.html">Shortcodes</a></li>-->
            <!--                                    <li><a href="_soccer_features-typography.html">Typography</a></li>-->
            <!--                                    <li><a href="_soccer_features-widgets-blog.html">Widgets - Blog</a></li>-->
            <!--                                    <li><a href="_soccer_features-widgets-shop.html">Widgets - Shop</a></li>-->
            <!--                                    <li><a href="_soccer_features-widgets-sports.html">Widgets - Sports</a></li>-->
            <!--                                    <li><a href="_soccer_features-404.html">404 Error Page</a></li>-->
            <!--                                    <li><a href="_soccer_features-search-results.html">Search Results</a></li>-->
            <!--                                    <li><a href="_soccer_page-contacts.html">Contact Us</a></li>-->
            <!--                                </ul>-->
            <!--                                <ul class="col-lg-2 col-md-3 col-12 main-nav__ul">-->
            <!--                                    <li class="main-nav__title">Other Pages</li>-->
            <!--                                    <li><a href="_soccer_page-sponsors.html">Sponsors</a></li>-->
            <!--                                    <li><a href="_soccer_page-faqs.html">FAQs</a></li>-->
            <!--                                    <li><a href="_soccer_staff-single.html">Staff Member</a></li>-->
            <!--                                    <li><a href="_soccer_event-tournament.html">Tournament</a></li>-->
            <!--                                    <li><a href="_soccer_shop-list.html">Shop Page</a></li>-->
            <!--                                    <li><a href="_soccer_shop-cart.html">Shopping Cart</a></li>-->
            <!--                                    <li><a href="_soccer_shop-wishlist.html">Wishlist</a></li>-->
            <!--                                    <li><a href="_soccer_shop-checkout.html">Checkout</a></li>-->
            <!--                                </ul>-->
            <!--                                <div class="col-lg-4 col-md-3 col-12">-->

            <!--                                    <div class="posts posts&#45;&#45;simple-list posts&#45;&#45;simple-list&#45;&#45;lg">-->
            <!--                                        <div class="posts__item posts__item&#45;&#45;category-1">-->
            <!--                                            <div class="posts__inner">-->
            <!--                                                <div class="posts__cat">-->
            <!--                                                    <span class="label posts__cat-label">The Team</span>-->
            <!--                                                </div>-->
            <!--                                                <h6 class="posts__title"><a href="#">The team is starting a new power breakfast regimen</a></h6>-->
            <!--                                                <time datetime="2017-08-23" class="posts__date">August 23rd, 2017</time>-->
            <!--                                                <div class="posts__excerpt">-->
            <!--                                                    Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
            <!--                                                </div>-->
            <!--                                            </div>-->
            <!--                                            <div class="posts__footer card__footer">-->
            <!--                                                <div class="post-author">-->
            <!--                                                    <figure class="post-author__avatar">-->
            <!--                                                        <img src="../assets/images/samples/avatar-1.jpg" alt="Post Author Avatar">-->
            <!--                                                    </figure>-->
            <!--                                                    <div class="post-author__info">-->
            <!--                                                        <h4 class="post-author__name">James Spiegel</h4>-->
            <!--                                                    </div>-->
            <!--                                                </div>-->
            <!--                                                <ul class="post__meta meta">-->
            <!--                                                    <li class="meta__item meta__item&#45;&#45;likes"><a href="#"><i class="meta-like meta-like&#45;&#45;active icon-heart"></i> 530</a></li>-->
            <!--                                                    <li class="meta__item meta__item&#45;&#45;comments"><a href="#">18</a></li>-->
            <!--                                                </ul>-->
            <!--                                            </div>-->
            <!--                                        </div>-->
            <!--                                    </div>-->

                <!--                                </div>-->
                <!--                                <div class="col-lg-4 col-md-3 col-12">-->
                <!--                                    <ul class="posts posts&#45;&#45;simple-list">-->
                <!--                                        <li class="posts__item posts__item&#45;&#45;category-1">-->
                <!--                                            <figure class="posts__thumb">-->
                <!--                                                <a href="#"><img src="../assets/images/samples/post-img3-xs.jpg" alt=""></a>-->
                <!--                                            </figure>-->
                <!--                                            <div class="posts__inner">-->
                <!--                                                <div class="posts__cat">-->
                <!--                                                    <span class="label posts__cat-label">The Team</span>-->
                <!--                                                </div>-->
                <!--                                                <h6 class="posts__title"><a href="#">The new eco friendly stadium won a Leafy Award in 2016</a></h6>-->
                <!--                                                <time datetime="2016-08-21" class="posts__date">August 21st, 2016</time>-->
                <!--                                            </div>-->
                <!--                                        </li>-->
                <!--                                        <li class="posts__item posts__item&#45;&#45;category-2">-->
                <!--                                            <figure class="posts__thumb">-->
                <!--                                                <a href="#"><img src="../assets/images/samples/post-img1-xs.jpg" alt=""></a>-->
                <!--                                            </figure>-->
                <!--                                            <div class="posts__inner">-->
                <!--                                                <div class="posts__cat">-->
                <!--                                                    <span class="label posts__cat-label">Injuries</span>-->
                <!--                                                </div>-->
                <!--                                                <h6 class="posts__title"><a href="#">Mark Johnson has a Tibia Fracture and is gonna be out</a></h6>-->
                <!--                                                <time datetime="2016-08-23" class="posts__date">August 23rd, 2016</time>-->
                <!--                                            </div>-->
                <!--                                        </li>-->
                <!--                                        <li class="posts__item posts__item&#45;&#45;category-1">-->
                <!--                                            <figure class="posts__thumb">-->
                <!--                                                <a href="#"><img src="../assets/images/samples/post-img4-xs.jpg" alt=""></a>-->
                <!--                                            </figure>-->
                <!--                                            <div class="posts__inner">-->
                <!--                                                <div class="posts__cat">-->
                <!--                                                    <span class="label posts__cat-label">The Team</span>-->
                <!--                                                </div>-->
                <!--                                                <h6 class="posts__title"><a href="#">The team is starting a new power breakfast regimen</a></h6>-->
                <!--                                                <time datetime="2016-08-21" class="posts__date">August 21st, 2016</time>-->
                <!--                                            </div>-->
                <!--                                        </li>-->
                <!--                                    </ul>-->
                <!--                                </div>-->
                <!--                            </div>-->
<!--              </li>-->

                <li class=""><a th:href="@{/datacenter/league.do}">데이터센터</a></li>
<!--            <li class=""><a th:href="@{/datacenter/league_overview.do}" class="custom_top_menu">데이터센터</a>-->
<!--                &lt;!&ndash;          <li class=""><a th:href="@{team_overview.do}" class="custom_top_menu">데이터센터</a>&ndash;&gt;-->
<!--                <ul class="main-nav__sub">-->
<!--                  <li><a href="_soccer_team-overview.html">Team</a>-->
<!--                    <ul class="main-nav__sub-2">-->
<!--                      &lt;!&ndash;                  <li><a href="_soccer_team-overview.html">Overview</a></li>&ndash;&gt;-->
<!--                      <li><a th:href="@{/datacenter/league_overview.do}">Overview</a></li>-->
<!--                      <li><a href="_soccer_team-roster.html">Roster</a>-->
<!--                        <ul class="main-nav__sub-2">-->
<!--                          <li><a href="_soccer_team-roster.html">Roster - 1</a></li>-->
<!--                          <li><a href="_soccer_team-roster-2.html">Roster - 2 &nbsp; <span-->
<!--                              class="label label-danger">New</span></a></li>-->
<!--                        </ul>-->
<!--                      </li>-->
<!--                      <li><a href="_soccer_team-standings.html">Standings</a></li>-->
<!--                      <li><a href="_soccer_team-last-results.html">Latest Results</a></li>-->
<!--                      <li><a href="_soccer_team-schedule.html">Schedule</a></li>-->
<!--                      <li><a href="_soccer_team-gallery.html">Gallery</a>-->
<!--                        <ul class="main-nav__sub-2">-->
<!--                          <li><a href="_soccer_team-gallery-album.html">Single Album</a></li>-->
<!--                        </ul>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </li>-->
<!--                  <li><a href="_soccer_player-overview.html">Player</a>-->
<!--                    <ul class="main-nav__sub-2">-->
<!--                      <li><a href="_soccer_player-overview.html">Overview</a></li>-->
<!--                      <li><a href="_soccer_player-stats.html">Full Statistics</a></li>-->
<!--                      <li><a href="_soccer_player-bio.html">Biography</a></li>-->
<!--                      <li><a href="_soccer_player-news.html">Related News</a></li>-->
<!--                      <li><a href="_soccer_player-gallery.html">Gallery</a></li>-->
<!--                    </ul>-->
<!--                  </li>-->
<!--                  <li><a href="_soccer_staff-single.html">Staff Member</a></li>-->
<!--                  <li><a href="_soccer_event-overview.html">Event &nbsp; <span-->
<!--                      class="label label-danger">New</span></a>-->
<!--                    <ul class="main-nav__sub-2">-->
<!--                      <li class=""><a href="_soccer_event-overview.html">Overview</a></li>-->
<!--                      <li class=""><a href="_soccer_event-box-score.html">Box Score</a></li>-->
<!--                      <li class=""><a href="_soccer_event-play-by-play.html">Play-by-Play</a></li>-->
<!--                      <li class=""><a href="_soccer_event-team-stats.html">Team Stats</a></li>-->
<!--                      <li class=""><a href="_soccer_event-news-recap.html">News Recap</a></li>-->
<!--                      <li class=""><a href="_soccer_event-videos.html">Videos</a></li>-->
<!--                    </ul>-->
<!--                  </li>-->
<!--                  <li><a href="_soccer_game-overview.html">Game Overview</a></li>-->
<!--                  <li><a href="_soccer_event-tournament.html">Tournament</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--            -->
<!--            -->
<!--            -->
              <li class=""><a th:href="@{/community/co.do}" class="custom_top_menu">커뮤니티</a>
                <ul class="main-nav__sub">
                  <!--                  <li class=""><a href="_soccer_blog-1.html">News - version 1</a></li>-->
                  <!--                  <li class=""><a href="_soccer_blog-2.html">News - version 2</a></li>-->
                  <!--                  <li class=""><a href="_soccer_blog-3.html">News - version 3</a></li>-->
                  <li class=""><a th:href="@{/news/soccer_news.do}">뉴스</a></li>
                  <li><a th:href="@{/teamboard/mainBoard}">팀별 게시판</a></li>
                </ul>
              </li>
              <!--                        <li class=""><a href="_soccer_shop-grid.html" class="custom_top_menu">Shop</a>-->
              <!--                            <ul class="main-nav__sub">-->
              <!--                                <li class=""><a href="_soccer_shop-grid.html">Shop - Grid</a></li>-->
              <!--                                <li class=""><a href="_soccer_shop-list.html">Shop - List</a></li>-->
              <!--                                <li class=""><a href="_soccer_shop-product.html">Single Product</a></li>-->
              <!--                                <li class=""><a href="_soccer_shop-cart.html">Shopping Cart</a></li>-->
              <!--                                <li class=""><a href="_soccer_shop-checkout.html">Checkout</a></li>-->
              <!--                                <li class=""><a href="_soccer_shop-wishlist.html">Wishlist</a></li>-->
              <!--                                <li class=""><a href="_soccer_shop-login.html">Login</a></li>-->
              <!--                                <li class=""><a href="_soccer_shop-account.html">Account</a></li>-->
              <!--                            </ul>-->
              <!--                        </li>-->
            </ul>

          <!-- Social Links -->
<!--          <ul class="social-links social-links&#45;&#45;inline social-links&#45;&#45;main-nav">-->
<!--            <li class="social-links__item">-->
<!--              <a href="#" class="social-links__link" data-toggle="tooltip"-->
<!--                 data-placement="bottom"-->
<!--                 title="Facebook"><i class="fab fa-facebook"></i></a>-->
<!--            </li>-->
<!--            <li class="social-links__item">-->
<!--              <a href="#" class="social-links__link" data-toggle="tooltip"-->
<!--                 data-placement="bottom"-->
<!--                 title="Twitter"><i class="fab fa-twitter"></i></a>-->
<!--            </li>-->
<!--            <li class="social-links__item">-->
<!--              <a href="#" class="social-links__link" data-toggle="tooltip"-->
<!--                 data-placement="bottom"-->
<!--                 title="Instagram"><i class="fab fa-instagram"></i></a>-->
<!--            </li>-->
<!--          </ul>-->
          <!-- Social Links / End -->

          <!-- Pushy Panel Toggle -->
          <a href="#" class="pushy-panel__toggle">
            <span class="pushy-panel__line"></span>
          </a>
          <!-- Pushy Panel Toggle / Eng -->
        </nav>
        <!-- Main Navigation / End -->
      </div>
    </div>
  </div>
  <!-- Header Primary / End -->

</div> <!-- th:header end -->
</html>