<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="header_mobile">
    <div class="header-mobile clearfix" id="header-mobile">
      <div class="header-mobile__logo">
        <a href="_soccer_index.html"><img src="../../assets/images/soccer/ek_logo.png"
                                           srcset="../../assets/images/soccer/ek_logo@2x.png 2x"
                                           alt="Alchemists" class="header-logo__img"></a>
        <!-- <a href="_soccer_index.html"><img src="./../assets/images/soccer/logo.png" srcset="./../assets/images/soccer/logo@2x.png 2x" alt="Alchemists" class="./header-mobile__logo-img"></a> -->
      </div>
      <div class="header-mobile__inner">
        <a id="header-mobile__toggle" class="burger-menu-icon"><span
            class="burger-menu-icon__line"></span></a>
        <span class="header-mobile__search-icon" id="header-mobile__search-icon"></span>
      </div>
    </div>
  </div>
</html>