<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="script_line">
    <!-- Javascript Files
    ================================================== -->
    <!-- Core JS -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
<!--    <script src="//code.jquery.com/jquery.min.js"></script>-->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="../assets/vendor/jquery/jquery-migrate.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/core.js"></script>

    <!-- Vendor JS -->
    <script src="../assets/vendor/twitter/jquery.twitter.js"></script>

    <!-- Template JS -->
    <script src="../assets/js/init.js"></script>
    <script src="../assets/js/custom.js"></script>



  </div>
</html>