<!-- Widget: Team Info -->
<div class="widget widget--sidebar card card--no-paddings widget-event-info">
	<div class="widget__title card__header">
		<h4>Game Information</h4>
	</div>
	<div class="widget__content card__content">

		<div class="row no-gutters alc-event-info-wrapper">
			<div class="col-md-6">
				{{#each football.sp.event.info}}
				<ul class="alc-event-info list-unstyled">
					{{#each details}}
					<li class="alc-event-info__item">
						<span class="alc-event-info__title">{{title}}</span>
						<span class="alc-event-info__value">{{value}}</span>
					</li>
					{{/each}}
				</ul>
				{{/each}}
			</div>
			<div class="col-md-6 alc-event-gmap-wrapper">
				<!-- Google Map -->
				<div class="gm-map gm-map--sm alc-event-gmap" data-map-style="midnight-commander" data-map-address="{{address}}" data-map-zoom="15" data-map-type-control="false" data-street-view-control="false" data-fullscreen-control="false" data-zoom-control="false"></div>
				<!-- Google Map / End -->
			</div>
		</div>

	</div>
</div>
<!-- Widget: Team Info / End -->
