<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<style>-->
<!--    li{-->
<!--        display: inline;-->
<!--    }-->
<!--</style>-->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <h1 class="mt-4">글 목록
            <span>
                <a th:href="@{/sample/ex_create.do}">
                    <button type="button" class="btn btn-outline-primary">글 쓰기
                    </button>
                </a>
            </span>
        </h1>
        <table class="table table-striped">
            <tr>
                <th scope="col">글 번호</th>
                <th scope="col">내용</th>
                <th scope="col">날짜</th>
            </tr>
            <tr th:each="dto : ${result.dtoList}">
                <td><a th:href="@{/sample/ex_detail.do(mno= ${dto.mno}, page=${result.page})}">[[${dto.mno}]]</a></td>
                <td th:text="${dto.memoText}"></td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
        </table>
        <!--@{~~~~~(~~~, size = ${result.size})}  // 사이즈 지정 가능-->
        <ul  class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/sample/ex_read.do(page=${result.start-1})}">이전</a>
            </li>
            <li th:class="'page-item' + ${result.page == page? 'active':''}" th:each="page : ${result.pageList}">
                <a class="page-link" th:href="@{/sample/ex_read.do(page=${page})}">[[${page}]]</a>
            </li>
            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/sample/ex_read.do(page=${result.end+1})}">다음</a>
            </li>
        </ul>


        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            // 글 쓰기 후 리다이렉트 시 아래 출력, 단순 링크 이동은 null
            var msg = [[${msg}]];
            console.log(msg);

            if(msg){
                $(".modal").modal();
            }
        </script>
    </th:block>
</th:block>