<!-- Account Filter -->
<nav class="content-filter content-filter--boxed content-filter--highlight-side content-filter--label-left">
	<div class="container">
		<div class="content-filter__inner">
			<a href="#" class="content-filter__toggle"></a>
			<ul class="content-filter__list">
				<li class="content-filter__item {{#ifpage '_esports_shop-account'}}content-filter__item--active{{/ifpage}}"><a href="_esports_shop-account.html" class="content-filter__link"><small>Your Account</small>Personal Information</a></li>
				<li class="content-filter__item"><a href="#" class="content-filter__link"><small>Your Account</small>Billing Information</a></li>
				<li class="content-filter__item"><a href="#" class="content-filter__link"><small>Your Account</small>Shipping Information</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- Account Filter / End -->
