<div class="shop-filter">
	<h5 class="shop-filter__result">Showing 12 of 98 products</h5>
	<ul class="shop-filter__params">
		<li class="shop-filter__control">
			<select class="form-control input-xs">
				<option>Product Price</option>
				<option>Low to High</option>
				<option>High to Low</option>
			</select>
		</li>
		<li class="shop-filter__control">
			<select class="form-control input-xs">
				<option>Newest First</option>
				<option>Oldest First</option>
			</select>
		</li>
		<li class="shop-filter__control">
			<select class="form-control input-xs">
				<option>Show 12 per page</option>
				<option>Show 24 per page</option>
				<option>Show 36 per page</option>
			</select>
		</li>
	</ul>
</div>
