<div class="alc-embeded-player" data-id="{{id}}" data-controls="false" data-provider="{{#if provider}}{{provider}}{{else}}youtube{{/if}}" {{#if thumbnail}}data-thumbnail="{{thumbnail}}"{{/if}} data-easy-embed>
	<div class="alc-embeded-player__overlay">
		<i class="fas fa-play alc-embeded-player__icon"></i>
	</div>
</div>
