<!-- Widget: Pages -->
<aside class="widget widget--footer widget_pages">
	<h4 class="widget__title">About Us</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li><a href="_esports_page-contacts.html">Contact</a></li>
			<li><a href="_esports_page-faqs.html">FAQs</a></li>
			<li><a href="_esports_page-sponsors.html">Sponsors</a></li>
			<li><a href="_esports_team-schedule.html">Next Events</a></li>
			<li><a href="_esports_blog-post-3.html">Guides</a></li>
			<li><a href="_esports_shop-login.html">Register/Login</a></li>
			<li><a href="#">Privacy Policy</a></li>
		</ul>
	</div>
</aside>
<!-- Widget: Pages / End -->
