<!-- Widget: Doughnut Chart -->
<aside class="widget card widget--sidebar">
	<div class="widget__title card__header">
		<h4>Doughnut Chart Stats</h4>
	</div>
	<div class="widget__content card__content">
		<canvas id="chart-doughnut-esports" height="208"></canvas>
		<div id="chartDoughnutLegendEsports" class="chart-legend chart-legend--center"></div>
	</div>
</aside>
<!-- Widget: doughnut Chart / End -->
