<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="/fragments/head_line.html :: head_line">-- thymeleaf head_line --</div>
</head>
<body data-template="template-soccer">

	<div class="site-wrapper clearfix">
		<div class="site-overlay"></div>

		<!-- Header ================================================== -->
		<!-- Header Mobile -->
		<div th:replace="/fragments/header_mobile.html :: header_mobile">-- thymeleaf header_mobile --</div>

		<!-- Header Desktop -->
		<header class="header header--layout-1">
			<div th:replace="/fragments/header_desktop.html :: header_desktop">-- thymeleaf header_desktop --</div>
		</header>
		<!-- Header / End -->

		<!-- Pushy Panel - Dark -->
		<div th:replace="/fragments/custom_pushy_panel.html :: custom_pushy_panel">-- thymeleaf custom_pushy_panel --</div>
		<!-- Pushy Panel - Dark / End -->

		<!-- Hero Slider
		================================================== -->
		<div class="hero-slider-wrapper">

			<div class="hero-slider">

				<!-- Slide #0 -->
				<div class="hero-slider__item hero-slider__item--img1">

					<div class="container hero-slider__item-container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<!-- Post Meta - Top -->
								<div class="post__meta-block post__meta-block--top">

									<!-- Post Category -->
									<div class="post__category">
										<span class="label posts__cat-label">Do You Know ELK?</span>
									</div>
									<!-- Post Category / End -->

									<!-- Post Title -->
									<h1 class="page-heading__title"><a th:href="@{/datacenter/search.do}">엘라스틱한 <span class="highlight"> 검색을 </span> 하고싶다면?</a></h1>
									<!-- Post Title / End -->

									<!-- Post Meta Info -->
									<ul class="post__meta meta">
										<li class="meta__item meta__item--date"><time datetime="2017-08-23">2021년 6월 출시</time></li>
<!--										<li class="meta__item meta__item&#45;&#45;views">2369</li>-->
<!--										<li class="meta__item meta__item&#45;&#45;likes"><a href="#"><i class="meta-like meta-like&#45;&#45;active icon-heart"></i> 530</a></li>-->
<!--										<li class="meta__item meta__item&#45;&#45;comments"><a href="#">18</a></li>-->
									</ul>
									<!-- Post Meta Info / End -->

									<!-- Post Author -->
									<div class="post-author">
										<figure class="post-author__avatar">
											<img src="../assets/images/samples/avatar-1.jpg" alt="Post Author Avatar">
<!--											<img src="https://image5jvqbd.fmkorea.com/files/attach/new2/20210623/3674493/1373670040/3700150155/44e8dbbfdd70b24ac6c5a3f14e7b6424.jpeg" alt="Post Author Avatar">-->
										</figure>
										<div class="post-author__info">
											<h4 class="post-author__name">J.Y.SON</h4>
											<span class="post-author__slogan">PM</span>
										</div>
									</div>
									<!-- Post Author / End -->

								</div>
								<!-- Post Meta - Top / End -->
							</div>
						</div>
					</div>

				</div>
				<!-- Slide #0 / End -->
				<!-- Slide #1 -->
				<div class="hero-slider__item hero-slider__item--img2">

					<div class="container hero-slider__item-container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<!-- Post Meta - Top -->
								<div class="post__meta-block post__meta-block--top">

									<!-- Post Category -->
									<div class="post__category">
										<span class="label posts__cat-label">broadcast</span>
									</div>
									<!-- Post Category / End -->

									<!-- Post Title -->
									<h1 class="page-heading__title"><a th:href="@{/fixture/fixture.do}">축구는 <span class="highlight"> 떠들어야 </span> 제 맛이지!</a></h1>
									<!-- Post Title / End -->

									<!-- Post Meta Info -->
									<ul class="post__meta meta">
										<li class="meta__item meta__item--date"><time datetime="2017-08-23">2021년 6월 출시</time></li>
<!--										<li class="meta__item meta__item&#45;&#45;views">2369</li>-->
<!--										<li class="meta__item meta__item&#45;&#45;likes"><a href="#"><i class="meta-like meta-like&#45;&#45;active icon-heart"></i> 530</a></li>-->
<!--										<li class="meta__item meta__item&#45;&#45;comments"><a href="#">18</a></li>-->
									</ul>
									<!-- Post Meta Info / End -->

									<!-- Post Author -->
									<div class="post-author">
										<figure class="post-author__avatar">
											<img src="../assets/images/samples/avatar-1.jpg" alt="Post Author Avatar">
										</figure>
										<div class="post-author__info">
											<h4 class="post-author__name">T.Y.Park</h4>
											<span class="post-author__slogan">Crawling Master</span>
										</div>
									</div>
									<!-- Post Author / End -->

								</div>
								<!-- Post Meta - Top / End -->
							</div>
						</div>
					</div>

				</div>
				<!-- Slide #1 / End -->
				<!-- Slide #2 -->
				<div class="hero-slider__item hero-slider__item--img3">

					<div class="container hero-slider__item-container">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<!-- Post Meta - Top -->
								<div class="post__meta-block post__meta-block--top">

									<!-- Post Category -->
									<div class="post__category">
										<span class="label posts__cat-label">Together</span>
									</div>
									<!-- Post Category / End -->

									<!-- Post Title -->
									<h1 class="page-heading__title"><a href="_soccer_blog-post-1.html">지도에 <span class="highlight"> 마커 찍어 </span> 같이 먹고보자!</a></h1>
									<!-- Post Title / End -->

									<!-- Post Meta Info -->
									<ul class="post__meta meta">
										<li class="meta__item meta__item--date"><time datetime="2017-08-23">2021년 6월</time></li>
<!--										<li class="meta__item meta__item&#45;&#45;views">2369</li>-->
<!--										<li class="meta__item meta__item&#45;&#45;likes"><a href="#"><i class="meta-like meta-like&#45;&#45;active icon-heart"></i> 530</a></li>-->
<!--										<li class="meta__item meta__item&#45;&#45;comments"><a href="#">18</a></li>-->
									</ul>
									<!-- Post Meta Info / End -->

									<!-- Post Author -->
									<div class="post-author">
										<figure class="post-author__avatar">
											<img src="../assets/images/samples/avatar-1.jpg" alt="Post Author Avatar">
										</figure>
										<div class="post-author__info">
											<h4 class="post-author__name">kklck</h4>
											<span class="post-author__slogan">PL</span>
										</div>
									</div>
									<!-- Post Author / End -->

								</div>
								<!-- Post Meta - Top / End -->
							</div>
						</div>
					</div>

				</div>
				<!-- Slide #2 / End -->

			</div>

			<div class="hero-slider-thumbs-wrapper">
				<div class="container">
					<div class="hero-slider-thumbs posts posts--simple-list">

						<div class="hero-slider-thumbs__item">
							<div class="posts__item posts__item--category-1">
								<div class="posts__inner">
									<div class="posts__cat">
										<span class="label posts__cat-label">DO YOU KNOW ELK?</span>
									</div>
									<!-- <h6 class="posts__title">The Alchemists won the last game 2-0 against Clovers</h6> -->
									<h6 class="posts__title">엘라스틱한 검색을 하고싶다면?</h6>
									<time datetime="2017-12-12" class="posts__date">By. JYP</time>
								</div>
							</div>
						</div>
						<div class="hero-slider-thumbs__item">
							<div class="posts__item posts__item--category-2">
								<div class="posts__inner">
									<div class="posts__cat">
										<span class="label posts__cat-label">broadcast</span>
									</div>
									<!-- <h6 class="posts__title">Franklin Stevens has a knee fracture and is gona be out</h6> -->
									<h6 class="posts__title">축구는 떠들어야 제 맛이지!</h6>
									<time datetime="2017-12-12" class="posts__date">By. Park</time>
								</div>
							</div>
						</div>
						<div class="hero-slider-thumbs__item">
							<div class="posts__item posts__item--category-1">
								<div class="posts__inner">
									<div class="posts__cat">
										<span class="label posts__cat-label">Together</span>
									</div>
									<!-- <h6 class="posts__title">The New Eco Friendly Stadium won a leafy award in 2016</h6> -->
									<h6 class="posts__title">지도에 마커찍고 같이 먹고보자!</h6>
									<time datetime="2017-12-12" class="posts__date">By. kklck</time>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>


		</div>


		<!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">

				<div class="row">
					<!-- Content -->
					<div id="sidebar" class="sidebar col-lg-4">

						<!-- Widget: Standings -->
						<aside class="widget card widget--sidebar widget-standings">
							<div class="widget__title card__header card__header--has-btn">
								<h4>리그 </h4>
								<a href="#" class="btn btn-default btn-outline btn-xs card-header__button">모든 리그 보기</a>
							</div>
							<div class="widget__content card__content">
								<div class="table-responsive">
									<table class="table table-hover table-standings">
										<thead>
											<tr>
												<th>Team Positions</th>
												<th>W</th>
												<th>L</th>
												<th>D</th>
												<th>PTS</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="lrl : ${leagueRankList}">
												<td>
													<div class="team-meta">
														<figure class="team-meta__logo">
															<img th:src="|../upload/emblem/${lrl.cId.cId}.png|">

														</figure>
														<div class="team-meta__info">
															<h6 class="team-meta__name" th:text="${lrl.cId.name}"></h6>
															<span class="team-meta__place" th:text="${lrl.cId.ename}"></span>
														</div>
													</div>
												</td>
												<td th:text="${lrl.won}"></td>
												<td th:text="${lrl.lost}"></td>
												<td th:text="${lrl.drawn}"></td>
												<td th:text="${lrl.points}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</aside>
						<!-- Widget: Standings / End -->

						<!-- Widget: Social Buttons - Condensed-->
						<aside class="widget widget--sidebar widget-social widget-social--condensed">
							<a href="#" class="btn-social-counter btn-social-counter--fb" target="_blank">
								<div class="btn-social-counter__icon">
									<i class="fab fa-facebook"></i>
								</div>
								<h6 class="btn-social-counter__title">Like Our Facebook Page</h6>
								<span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Likes</span>
								<span class="btn-social-counter__add-icon"></span>
							</a>
							<a href="#" class="btn-social-counter btn-social-counter--twitter" target="_blank">
								<div class="btn-social-counter__icon">
									<i class="fab fa-twitter"></i>
								</div>
								<h6 class="btn-social-counter__title">Follow Us on Twitter</h6>
								<span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Followers</span>
								<span class="btn-social-counter__add-icon"></span>
							</a>
							<a href="#" class="btn-social-counter btn-social-counter--rss" target="_blank">
								<div class="btn-social-counter__icon">
									<i class="fas fa-rss"></i>
								</div>
								<h6 class="btn-social-counter__title">Subscribe to Our RSS</h6>
								<span class="btn-social-counter__count"><span class="btn-social-counter__count-num">840</span> Subscribers</span>
								<span class="btn-social-counter__add-icon"></span>
							</a>
						</aside>
						<!-- Widget: Social Buttons - Condensed / End -->

						<!-- Widget: Match Announcement -->
						<aside class="widget widget--sidebar card widget-preview">
							<div class="widget__title card__header">
								<h4>Next Match</h4>
							</div>
							<div class="widget__content card__content">

								<!-- Match Preview -->
								<div class="match-preview">
									<section class="match-preview__body">
										<header class="match-preview__header">
											<time class="match-preview__date" datetime="2018-08-14">2021-06-19 16:30</time>
											<h3 class="match-preview__title match-preview__title--lg">광주</h3>
										</header>
										<div class="match-preview__content">

											<!-- 1st Team -->
											<div class="match-preview__team match-preview__team--first">
												<figure class="match-preview__team-logo">
													<img src="../upload/emblem/22.png" width="100px" height="200px" alt="">
												</figure>
<!--												<h5 class="match-preview__team-name" th:text="${str4}"></h5>-->
												<h5 class="match-preview__team-name" >광주 FC</h5>
												<div class="match-preview__team-info">Gwangju FC</div>
											</div>
											<!-- 1st Team / End -->

											<div class="match-preview__vs">
												<div class="match-preview__conj">VS</div>
												<div class="match-preview__match-info">
													<time class="match-preview__match-time" datetime="2017-08-12 09:00">2021-06-19 16:30</time>
													<div class="match-preview__match-place">광주 전용</div>
												</div>
											</div>

											<!-- 2nd Team -->
											<div class="match-preview__team match-preview__team--second">
												<figure class="match-preview__team-logo">
													<img src="../upload/emblem/9.png"  width="100px" height="200px" alt="">
												</figure>
<!--												<h5 class="match-preview__team-name"th:text="${str5}"></h5>-->
												<h5 class="match-preview__team-name">FC 서울</h5>
												<div class="match-preview__team-info">FC Seoul</div>
											</div>
											<!-- 2nd Team / End -->

										</div>
									</section>
									<div class="countdown__content">
										<div class="countdown-counter" data-date="2021-06-19 16:30"></div>
									</div>
									<div class="match-preview__action match-preview__action--ticket">
<!--										<a href="#" class="btn btn-primary-inverse btn-lg btn-block">Buy Tickets Now</a>-->
									</div>
								</div>
								<!-- Match Preview / End -->

							</div>
						</aside>
						<!-- Widget: Match Announcement / End -->

					</div>
					<!-- Content / End -->

					<!-- Sidebar -->
					<div class="content col-lg-8">

						<!-- Latest News -->
						<div class="card card--clean">
							<header class="card__header card__header--has-btn">
								<h4>최신 뉴스</h4>
								<a href="/news/soccer_news.do" class="btn btn-default btn-outline btn-xs card-header__button">모든 뉴스 보기</a>
							</header>

							<div class="card__content">

								<div class="posts posts--cards post-grid row">

									<div class="post-grid__item col-sm-6" th:each="dto : ${result.dtoList}">
										<div class="posts__item posts__item--card posts__item--category-2 card">
											<figure class="posts__thumb">
												<div class="posts__cat">

												</div>
												<a th:href="${dto.source}"><img th:src="${dto.imageurl}"alt=""></a>
											</figure>
											<div class="posts__inner card__content">
												<time class="posts__date" th:datetime="${dto.updateTime}" th:text="${dto.updateTime}"></time>
												<h6 class="posts__title"><a th:href="${dto.source}" th:text="${dto.title}"></a></h6>
											</div>
											<footer class="posts__footer card__footer">
												<div class="post-category">
													<figure class="post-category__avatar">
<!--														<img src="../assets/images/samples/avatar-1.jpg" alt="Post Category Avatar">-->
													</figure>
													<div class="post-category__info">
														<h4 class="post-category__name" th:text="${dto.cName}"></h4>
													</div>
												</div>
												<ul class="post__meta meta">
													<li class="meta__item meta__item--views">2369</li>
													<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
													<li class="meta__item meta__item--comments"><a href="#">18</a></li>
												</ul>
											</footer>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Latest News / End -->

						<!-- 주요 뉴스 -->
<!--						<div class="card card&#45;&#45;clean">-->
<!--							<header class="card__header card__header&#45;&#45;has-filter">-->
<!--								<h4>주요 뉴스</h4>-->
<!--								<ul class="category-filter category-filter&#45;&#45;featured">-->
<!--									<li class="category-filter__item"><a href="#" class="category-filter__link category-filter__link&#45;&#45;reset category-filter__link&#45;&#45;active">All</a></li>-->
<!--									<li class="category-filter__item"><a href="#" class="category-filter__link" data-category="posts__item&#45;&#45;category-1">The Team</a></li>-->
<!--									<li class="category-filter__item"><a href="#" class="category-filter__link" data-category="posts__item&#45;&#45;category-3">The League</a></li>-->
<!--									<li class="category-filter__item"><a href="#" class="category-filter__link" data-category="posts__item&#45;&#45;category-2">Injuries</a></li>-->
<!--								</ul>-->
<!--							</header>-->
<!--							<div class="card__content">-->

<!--								&lt;!&ndash; Slider &ndash;&gt;-->
<!--								<div class="slick posts posts&#45;&#45;slider-featured posts-slider posts-slider&#45;&#45;center">-->

<!--									<div class="posts__item posts__item&#45;&#45;category-1">-->
<!--										<a href="#" class="posts__link-wrapper">-->
<!--											<figure class="posts__thumb">-->
<!--												<img src="../assets/images/soccer/samples/post-slide7.jpg" alt="">-->
<!--											</figure>-->
<!--											<div class="posts__inner">-->
<!--												<div class="posts__cat">-->
<!--													<span class="label posts__cat-label">The Team</span>-->
<!--												</div>-->
<!--												<h3 class="posts__title">The Planettroters will <span class="posts__title-higlight">perform this May 4th</span> at Madison Cube</h3>-->
<!--												<div class="post-author">-->
<!--													<figure class="post-author__avatar">-->
<!--														<img src="../assets/images/samples/avatar-4.jpg" alt="Post Author Avatar">-->
<!--													</figure>-->
<!--													<div class="post-author__info">-->
<!--														<h4 class="post-author__name">Jesse Stevens</h4>-->
<!--														<time datetime="2017-08-28" class="posts__date">August 28th, 2018</time>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</a>-->
<!--									</div>-->
<!--									<div class="posts__item posts__item&#45;&#45;category-3">-->
<!--										<a href="#" class="posts__link-wrapper">-->
<!--											<figure class="posts__thumb">-->
<!--												<img src="../assets/images/samples/post-slide2.jpg" alt="">-->
<!--											</figure>-->
<!--											<div class="posts__inner">-->
<!--												<div class="posts__cat">-->
<!--													<span class="label posts__cat-label">The League</span>-->
<!--												</div>-->
<!--												<h3 class="posts__title">New York is preparing all <span class="posts__title-higlight">for the Playoffs Final</span> next December</h3>-->
<!--												<div class="post-author">-->
<!--													<figure class="post-author__avatar">-->
<!--														<img src="../assets/images/samples/avatar-1.jpg" alt="Post Author Avatar">-->
<!--													</figure>-->
<!--													<div class="post-author__info">-->
<!--														<h4 class="post-author__name">James Spiegel</h4>-->
<!--														<time datetime="2017-08-28" class="posts__date">June 28th, 2018</time>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</a>-->
<!--									</div>-->
<!--									<div class="posts__item posts__item&#45;&#45;category-1">-->
<!--										<a href="#" class="posts__link-wrapper">-->
<!--											<figure class="posts__thumb">-->
<!--												<img src="../assets/images/samples/post-slide3.jpg" alt="">-->
<!--											</figure>-->
<!--											<div class="posts__inner">-->
<!--												<div class="posts__cat">-->
<!--													<span class="label posts__cat-label">The Team</span>-->
<!--												</div>-->
<!--												<h3 class="posts__title">The new eco friendly <span class="posts__title-higlight">stadium won a Leafy</span> Award in 2016</h3>-->
<!--												<div class="post-author">-->
<!--													<figure class="post-author__avatar">-->
<!--														<img src="../assets/images/samples/avatar-1.jpg" alt="Post Author Avatar">-->
<!--													</figure>-->
<!--													<div class="post-author__info">-->
<!--														<h4 class="post-author__name">James Spiegel</h4>-->
<!--														<time datetime="2017-08-28" class="posts__date">June 28th, 2018</time>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</a>-->
<!--									</div>-->
<!--									<div class="posts__item posts__item&#45;&#45;category-3">-->
<!--										<a href="#" class="posts__link-wrapper">-->
<!--											<figure class="posts__thumb">-->
<!--												<img src="../assets/images/samples/post-slide4.jpg" alt="">-->
<!--											</figure>-->
<!--											<div class="posts__inner">-->
<!--												<div class="posts__cat">-->
<!--													<span class="label posts__cat-label">The League</span>-->
<!--												</div>-->
<!--												<h3 class="posts__title">New York Islanders are <span class="posts__title-higlight">now flying to California</span> for the big game</h3>-->
<!--												<div class="post-author">-->
<!--													<figure class="post-author__avatar">-->
<!--														<img src="../assets/images/samples/avatar-1.jpg" alt="Post Author Avatar">-->
<!--													</figure>-->
<!--													<div class="post-author__info">-->
<!--														<h4 class="post-author__name">James Spiegel</h4>-->
<!--														<time datetime="2017-08-28" class="posts__date">June 28th, 2018</time>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</a>-->
<!--									</div>-->
<!--									<div class="posts__item posts__item&#45;&#45;category-3">-->
<!--										<a href="#" class="posts__link-wrapper">-->
<!--											<figure class="posts__thumb">-->
<!--												<img src="../assets/images/samples/post-slide6.jpg" alt="">-->
<!--											</figure>-->
<!--											<div class="posts__inner">-->
<!--												<div class="posts__cat">-->
<!--													<span class="label posts__cat-label">The League</span>-->
<!--												</div>-->
<!--												<h3 class="posts__title">Jeremy Rittersen was <span class="posts__title-higlight">called to be</span> in the National Team</h3>-->
<!--												<div class="post-author">-->
<!--													<figure class="post-author__avatar">-->
<!--														<img src="../assets/images/samples/avatar-2.jpg" alt="Post Author Avatar">-->
<!--													</figure>-->
<!--													<div class="post-author__info">-->
<!--														<h4 class="post-author__name">Jessica Hoops</h4>-->
<!--														<time datetime="2017-08-28" class="posts__date">May 24th, 2018</time>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</a>-->
<!--									</div>-->
<!--									<div class="posts__item posts__item&#45;&#45;category-2">-->
<!--										<a href="#" class="posts__link-wrapper">-->
<!--											<figure class="posts__thumb">-->
<!--												<img src="../assets/images/samples/post-slide5.jpg" alt="">-->
<!--											</figure>-->
<!--											<div class="posts__inner">-->
<!--												<div class="posts__cat">-->
<!--													<span class="label posts__cat-label">Injuries</span>-->
<!--												</div>-->
<!--												<h3 class="posts__title">Jessica Valentine has a <span class="posts__title-higlight">sprained ankle</span> and won't be in the Final</h3>-->
<!--												<div class="post-author">-->
<!--													<figure class="post-author__avatar">-->
<!--														<img src="../assets/images/samples/avatar-4.jpg" alt="Post Author Avatar">-->
<!--													</figure>-->
<!--													<div class="post-author__info">-->
<!--														<h4 class="post-author__name">Jesse Stevens</h4>-->
<!--														<time datetime="2017-08-28" class="posts__date">April 12th, 2018</time>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</a>-->
<!--									</div>-->

<!--								</div>-->
<!--								&lt;!&ndash; Slider / End &ndash;&gt;-->

<!--							</div>-->
<!--						</div>-->
						<!-- 주요 뉴스 / End -->


						<!-- Post Pagination -->
						<nav class="post-pagination" aria-label="Blog navigation">
							<ul class="pagination pagination--condensed pagination--lg justify-content-center">
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><span class="page-link">...</span></li>
								<li class="page-item"><a class="page-link" href="#">16</a></li>
							</ul>
						</nav>
						<!-- Post Pagination / End -->


					</div>
					<!-- Sidebar / End -->
				</div>

			</div>
		</div>

		<!-- Content / End -->


		<!-- Footer ================================================== -->
		<footer id="footer" class="footer">
			<!-- Footer Widgets -->
			<div th:replace="/fragments/footer_custom.html :: footer_custom">-- thymeleaf footer_custom --</div>
			<!-- Footer Secondary / End -->
		</footer>
		<!-- Footer / End -->


		<!-- Login/Register Tabs Modal -->
		<div th:replace="/fragments/login_register.html :: login_register">-- thymeleaf login_register --</div>
		<!-- Login/Register Tabs Modal / End -->

	</div>
	<div th:replace="/fragments/script_line.html :: script_line">-- thymeleaf script_line --</div>
</body>
</html>
