<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/head_line.html :: head_line">-- thymeleaf head_line --</div>
</head>
<body data-template="template-soccer">

<div class="site-wrapper clearfix">
  <div class="site-overlay"></div>

  <!-- Header	================================================== -->

  <!-- Header Mobile -->
  <div th:replace="fragments/header_mobile.html :: header_mobile">-- thymeleaf header_mobile --
  </div>
  <!-- Header Desktop -->
  <header class="header header--layout-1">
    <div th:replace="fragments/header_desktop.html :: header_desktop">-- thymeleaf header_desktop
      --
    </div>
  </header>
  <!-- Header / End -->

  <!-- Pushy Panel - Dark -->
  <div th:replace="fragments/custom_pushy_panel.html :: custom_pushy_panel">-- thymeleaf
    custom_pushy_panel --
  </div>
  <!-- Pushy Panel - Dark / End -->

  <!-- Player Heading
  ================================================== -->
  <div class="player-heading">
    <div class="container">

      <div class="player-info__title player-info__title--mobile">
        <div class="player-info__number" th:text="${p.backNo}"></div>
        <h1 class="player-info__name">
<!--          <span class="player-info__first-name">James</span>-->
          <span class="player-info__last-name" th:text="${p.name}"></span>
        </h1>
      </div>

      <div class="player-info">

        <!-- Player Photo -->
        <div class="player-info__item player-info__item--photo">
          <figure class="player-info__photo">
<!--            <img src="assets/images/soccer/samples/_soccer_player-heading-photo.png" alt="">-->
            <img th:src="|https://portal.kleague.com/common/playerPhotoById.do?playerId=${p.pId}&recYn=Y&searchYear=2021|" alt="" style="width: 100%">
          </figure>
        </div>
        <!-- Player Photo / End -->

        <!-- Player Details -->
        <div class="player-info__item player-info__item--details">

          <div class="player-info__title player-info__title--desktop">
            <div class="player-info__number" th:text="${p.backNo}"></div>
            <h1 class="player-info__name">
<!--              <span class="player-info__first-name">James</span>-->
              <span class="player-info__last-name" th:text="${p.name}"></span>
            </h1>
          </div>

          <div class="player-info-details">
            <div class="player-info-details__item player-info-details__item--height">
              <h6 class="player-info-details__title">키</h6>
              <div class="player-info-details__value" th:text="${p.height}"></div>
            </div>
            <div class="player-info-details__item player-info-details__item--weight">
              <h6 class="player-info-details__title">몸무게</h6>
              <div class="player-info-details__value" th:text="|${p.weight}kg|"></div>
            </div>
            <div class="player-info-details__item player-info-details__item--age">
              <h6 class="player-info-details__title">생년월일</h6>
              <div class="player-info-details__value" th:text="${p.birthday}"></div>
            </div>
            <div class="player-info-details__item player-info-details__item--college">
              <h6 class="player-info-details__title">소속팀</h6>
              <div class="player-info-details__value" th:text="${p.cId.name}"></div>
            </div>
            <div class="player-info-details__item player-info-details__item--born">
              <h6 class="player-info-details__title">국적</h6>
              <div class="player-info-details__value" th:text="${p.nationality}"></div>
            </div>
            <div class="player-info-details__item player-info-details__item--position">
              <h6 class="player-info-details__title">포지션</h6>
              <div class="player-info-details__value" th:text="${p.position}"></div>
            </div>
<!--            <div class="player-info-details__item player-info-details__item&#45;&#45;foot">-->
<!--              <h6 class="player-info-details__title">Foot</h6>-->
<!--              <div class="player-info-details__value">Left</div>-->
<!--            </div>-->
          </div>

          <div class="player-info-stats pt-0">
<!--            <div class="player-info-stats__item">-->
<!--              <div class="player-info-details">-->
<!--                <div class="player-info-details__item player-info-details__item&#45;&#45;goals">-->
<!--                  <h6 class="player-info-details__title">득점</h6>-->
<!--                  <div class="player-info-details__value" th:text="${pRecord.totalGoal}"></div>-->
<!--                </div>-->
<!--                <div class="player-info-details__item player-info-details__item&#45;&#45;assists">-->
<!--                  <h6 class="player-info-details__title">도움</h6>-->
<!--                  <div class="player-info-details__value" th:text="${pRecord.assist}"></div>-->
<!--                </div>-->
<!--                <div class="player-info-details__item player-info-details__item&#45;&#45;games pb-0">-->
<!--                  <h6 class="player-info-details__title">출장 경기수</h6>-->
<!--                  <div class="player-info-details__value" th:text="${pRecord.played}"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="player-info-stats__item player-info-stats__item--top-padding">
              <div class="circular">
                <div id="custom_circular__bar1" class="circular__bar" data-percent="100" data-bar-color="#9fe900" data-track-color="rgba(255,255,255,.2)">
                  <span class="circular__percents" th:text="${(pRecord.totalGoal%pRecord.played)*100}"></span>
                </div>
                <span class="circular__label">경기당<strong>득점</strong></span>
              </div>
            </div>
            <div class="player-info-stats__item player-info-stats__item--top-padding">
              <div class="circular">
                <div id="custom_circular__bar2" class="circular__bar" data-percent="100" data-bar-color="#9fe900" data-track-color="rgba(255,255,255,.2)">
                  <span class="circular__percents" ><small>avg</small>1.21</span>
                </div>
                <span class="circular__label">경기당<strong>도움</strong></span>
              </div>
            </div>
          </div>
        </div>
        <!-- Player Details / End -->

        <!-- Player Stats -->
        <div class="player-info__item player-info__item--stats">
          <div class="player-info__item--stats-inner">

            <!-- Progress: Shot Accuracy -->
            <div class="progress-stats progress-stats--top-labels">
              <div class="progress__label">Shot Accuracy</div>
              <div class="progress">
                <div class="progress__bar progress__bar--success progress__bar-width-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress__number">96%</div>
            </div>
            <!-- Progress: Shot Accuracy / End -->

            <!-- Progress: Pass Accuracy -->
            <div class="progress-stats progress-stats--top-labels">
              <div class="progress__label">Pass Accuracy</div>
              <div class="progress">
                <div class="progress__bar progress__bar--success progress__bar-width-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress__number">74%</div>
            </div>
            <!-- Progress: Pass Accuracy / End -->

            <!-- Progress: Perfomance -->
            <div class="progress-stats progress-stats--top-labels">
              <div class="progress__label">Perfomance</div>
              <div class="progress">
                <div class="progress__bar progress__bar--success progress__bar-width-80" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress__number">85%</div>
            </div>
            <!-- Progress: Perfomance / End -->

            <!-- Progress: Dribble -->
            <div class="progress-stats progress-stats--top-labels">
              <div class="progress__label">Dribble</div>
              <div class="progress">
                <div class="progress__bar progress__bar--success progress__bar-width-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress__number">62%</div>
            </div>
            <!-- Progress: Dribble / End -->

            <!-- Progress: Stamina -->
            <div class="progress-stats progress-stats--top-labels">
              <div class="progress__label">Stamina</div>
              <div class="progress">
                <div class="progress__bar progress__bar--success progress__bar-width-80" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress__number">80%</div>
            </div>
            <!-- Progress: Stamina / End -->

          </div>
        </div>
        <!-- Player Stats / End -->
      </div>
    </div>
  </div>


  <!-- Player Pages Filter -->
<!--  <nav class="content-filter">-->
<!--    <div class="container">-->
<!--      <a href="#" class="content-filter__toggle"></a>-->
<!--      <ul class="content-filter__list">-->
<!--        <li class="content-filter__item "><a href="_soccer_player-overview.html" class="content-filter__link"><small>Player</small>Overview</a></li>-->
<!--        <li class="content-filter__item "><a href="_soccer_player-stats.html" class="content-filter__link"><small>Player</small>Full Statistics</a></li>-->
<!--        <li class="content-filter__item content-filter__item&#45;&#45;active"><a href="_soccer_player-bio.html" class="content-filter__link"><small>Player</small>Biography</a></li>-->
<!--        <li class="content-filter__item "><a href="_soccer_player-news.html" class="content-filter__link"><small>Player</small>Related News</a></li>-->
<!--        <li class="content-filter__item "><a href="_soccer_player-gallery.html" class="content-filter__link"><small>Player</small>Gallery</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
  <!-- Player Pages Filter / End -->

  <!-- Content
  ================================================== -->
<!--  <div class="site-content">-->
<!--    <div class="container">-->

<!--      <div class="row">-->

<!--        &lt;!&ndash; Content &ndash;&gt;-->
<!--        <div class="content col-lg-8">-->

<!--          &lt;!&ndash; Article &ndash;&gt;-->
<!--          <article class="card card&#45;&#45;lg post post&#45;&#45;single">-->

<!--            <figure class="post__thumbnail">-->
<!--              <img src="assets/images/soccer/samples/_soccer_single-player-img1.jpg" alt="">-->
<!--            </figure>-->

<!--            <div class="card__content">-->
<!--              <header class="post__header">-->
<!--                <h2 class="post__title">James Messinal Biography</h2>-->
<!--              </header>-->

<!--              <div class="post__content">-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

<!--                <div class="spacer"></div>-->

<!--                <h4>Where it all Started</h4>-->
<!--                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.</p>-->

<!--                <div class="spacer"></div>-->

<!--                <blockquote class="blockquote blockquote&#45;&#45;default">-->
<!--                  <p class="blockquote__content">I think that Soccer is not just a sport, but a way to live your life</p>-->
<!--                  <footer class="blockquote__footer">-->
<!--                    <cite class="blockquote__cite">-->
<!--                      <span class="blockquote__author-name">James Girobilie</span>-->
<!--                      <span class="blockquote__author-info">Alchemists SG</span>-->
<!--                    </cite>-->
<!--                  </footer>-->
<!--                </blockquote>-->

<!--                <h4>Always Playing for the Win</h4>-->
<!--                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>-->
<!--              </div>-->

<!--            </div>-->
<!--          </article>-->
<!--          &lt;!&ndash; Article / End &ndash;&gt;-->

<!--        </div>-->
<!--        &lt;!&ndash; Content / End &ndash;&gt;-->

<!--        &lt;!&ndash; Player Sidebar &ndash;&gt;-->
<!--        <div class="sidebar sidebar&#45;&#45;player col-lg-4">-->
<!--          &lt;!&ndash; Widget: Standings &ndash;&gt;-->
<!--          <aside class="widget card widget&#45;&#45;sidebar widget-standings">-->
<!--            <div class="widget__title card__header card__header&#45;&#45;has-btn">-->
<!--              <h4>얼크 위키</h4>-->
<!--            </div>-->
<!--            <div class="widget__content card__content">-->
<!--              <div class="game-result__table-stats game-result__table-stats&#45;&#45;soccer">-->
<!--                <table class="table table-wrap-bordered table-thead-color">-->
<!--                  &lt;!&ndash;										<thead>&ndash;&gt;-->
<!--                  &lt;!&ndash;										<tr>&ndash;&gt;-->
<!--                  &lt;!&ndash;											<th colspan="2">Game Statistics</th>&ndash;&gt;-->
<!--                  &lt;!&ndash;										</tr>&ndash;&gt;-->
<!--                  &lt;!&ndash;										</thead>&ndash;&gt;-->
<!--                  <tbody>-->
<!--                    <tr>-->
<!--                      <td>명칭</td>-->
<!--                      <td>ㅋㅋ</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>영문명</td>-->
<!--                      <td>ㅋㅋ</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>창단연도</td>-->
<!--                      <td>ㅋㅋ</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>연고지</td>-->
<!--                      <td>ㅋㅋ</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>홈 경기장</td>-->
<!--                      <td>ㅋㅋ</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>감독</td>-->
<!--                      <td>ㅋㅋ</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>웹사이트</td>-->
<!--                      <td>ㅋㅋ</td>-->
<!--                    </tr>-->
<!--                    &lt;!&ndash;										<tr>&ndash;&gt;-->
<!--                    &lt;!&ndash;											<td>엠블럼</td>&ndash;&gt;-->
<!--                    &lt;!&ndash;											<td style="width: 10%;"><img th:src="${oneClub.emblem}"></td>&ndash;&gt;-->
<!--                    &lt;!&ndash;										</tr>&ndash;&gt;-->
<!--                  </tbody>-->
<!--                </table>-->
<!--              </div>-->
<!--            </div>-->
<!--          </aside>-->
<!--          &lt;!&ndash; Widget: Standings / End &ndash;&gt;-->

<!--          &lt;!&ndash; Widget: Player Newslog &ndash;&gt;-->
<!--          <aside class="widget card widget&#45;&#45;sidebar widget-newslog">-->
<!--            <div class="widget__title card__header">-->
<!--              <h4>Player Newslog</h4>-->
<!--            </div>-->
<!--            <div class="widget__content card__content">-->
<!--              <ul class="newslog">-->
<!--                <li class="newslog__item newslog__item&#45;&#45;injury">-->
<!--                  <div class="newslog__item-inner">-->
<!--                    <div class="newslog__content"><strong>James Messinal’s</strong> knee fracture is healing properly and will be returning to the field <strong>next week</strong>.</div>-->
<!--                    <time class="newslog__date" datetime="2016-01-19">January 19, 2016</time>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="newslog__item newslog__item&#45;&#45;injury">-->
<!--                  <div class="newslog__item-inner">-->
<!--                    <div class="newslog__content"><strong>James Messinal</strong> has a knee fracture and he’s gonna be out of the play for <strong>4 months</strong>.</div>-->
<!--                    <time class="newslog__date" datetime="2016-01-19">September 26, 2016</time>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="newslog__item newslog__item&#45;&#45;join">-->
<!--                  <div class="newslog__item-inner">-->
<!--                    <div class="newslog__content"><strong>James Messinal</strong> is now the <strong>1st Shooting Guard</strong> after being 3rd Shooting Guard for the past year.</div>-->
<!--                    <time class="newslog__date" datetime="2016-01-19">September 6, 2016</time>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="newslog__item newslog__item&#45;&#45;injury">-->
<!--                  <div class="newslog__item-inner">-->
<!--                    <div class="newslog__content"><strong>James Messinal</strong> has an abductor strain so he will miss the next game against the LA Pirates.</div>-->
<!--                    <time class="newslog__date" datetime="2016-01-19">March 4, 2016</time>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="newslog__item newslog__item&#45;&#45;injury">-->
<!--                  <div class="newslog__item-inner">-->
<!--                    <div class="newslog__content"><strong>James Messinal</strong> has an abductor strain so he will miss the next game against the LA Pirates.</div>-->
<!--                    <time class="newslog__date" datetime="2016-01-19">March 4, 2016</time>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="newslog__item newslog__item&#45;&#45;award">-->
<!--                  <div class="newslog__item-inner">-->
<!--                    <div class="newslog__content"><strong>James Messinal</strong> won the <strong>Player of the Year 2014 Award</strong> for the first time.</div>-->
<!--                    <time class="newslog__date" datetime="2016-01-19">August 17, 2015</time>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="newslog__item newslog__item&#45;&#45;injury">-->
<!--                  <div class="newslog__item-inner">-->
<!--                    <div class="newslog__content"><strong>James Messinal</strong> has a lower back contusion and will miss the next two games.</div>-->
<!--                    <time class="newslog__date" datetime="2016-01-19">August 5, 2015</time>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li class="newslog__item newslog__item&#45;&#45;join">-->
<!--                  <div class="newslog__item-inner">-->
<!--                    <div class="newslog__content"><strong>James Messinal</strong> has joined the team after playing for the California Surfers for a year.</div>-->
<!--                    <time class="newslog__date" datetime="2016-01-19">June 19, 2013</time>-->
<!--                  </div>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </aside>-->
<!--          &lt;!&ndash; Widget: Player Newslog / End &ndash;&gt;-->

<!--          &lt;!&ndash; Widget: Newsletter &ndash;&gt;-->
<!--          <aside class="widget widget&#45;&#45;sidebar card widget-newsletter">-->
<!--            <div class="widget__title card__header">-->
<!--              <h4>Our Newsletter</h4>-->
<!--            </div>-->
<!--            <div class="widget__content card__content">-->
<!--              <h5 class="widget-newsletter__subtitle">Subscribe Now!</h5>-->
<!--              <div class="widget-newsletter__desc">-->
<!--                <p>Receive the latest news from the team: game reminders, new adquisitions and professional match results.</p>-->
<!--              </div>-->
<!--              <form action="#" id="newsletter" class="inline-form">-->
<!--                <div class="input-group">-->
<!--                  <input type="email" class="form-control" placeholder="Your email address...">-->
<!--                  <span class="input-group-append">-->
<!--											<button class="btn btn-lg btn-default" type="button">Send</button>-->
<!--										</span>-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>-->
<!--          </aside>-->
<!--          &lt;!&ndash; Widget: Newsletter / End &ndash;&gt;-->

<!--        </div>-->
<!--        &lt;!&ndash; Player Sidebar / End &ndash;&gt;-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

  <!-- Content / End -->


  <!-- Footer ================================================== -->
  <footer id="footer" class="footer">
    <!-- Footer Widgets -->
    <div th:replace="fragments/footer_custom.html :: footer_custom">-- thymeleaf footer_custom --
    </div>
    <!-- Footer Secondary / End -->
  </footer>
  <!-- Footer / End -->


  <!-- Login/Register Tabs Modal -->
  <div th:replace="fragments/login_register.html :: login_register">-- thymeleaf login_register
    --
  </div>
  <!-- Login/Register Tabs Modal / End -->

</div>

<!-- Javascript Files	================================================== -->
<div th:replace="fragments/script_line.html :: script_line">-- thymeleaf script_line --</div>
  <script th:inline="javascript">
    (function($) {
      $(function() {
        // let ccb1 = /*[[${pRecord.totalGoal}]]*/;
        // $("#custom_circular__bar1").attr('data-percent', ccb1);
        // $("#custom_circular__bar1")
      });
    } ) ( jQuery );

  </script>
</body>
</html>
