<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/head_line.html :: head_line">-- thymeleaf head_line --</div>
  <!-- services와 clusterer, drawing 라이브러리 불러오기 -->
  <script type="text/javascript"
          src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3512efd5b0d9522108ab16756e818589&libraries=services,clusterer,drawing"></script>
  <style>
    .map_wrap {position:relative;width:100%;height:350px;}
    .title {font-weight:bold;display:block;}
    .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
    #centerAddr {display:block;margin-top:2px;font-weight: normal;}
    .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
  </style>
</head>
<body data-template="template-soccer">
<div class="site-wrapper clearfix">
  <div class="site-overlay"></div>

  <!-- Header ================================================== -->

  <!-- Header Mobile -->
  <div th:replace="/fragments/header_mobile.html :: header_mobile">-- thymeleaf header_mobile
    --
  </div>

  <!-- Header Desktop -->
  <header class="header header--layout-1">
    <div th:replace="/fragments/header_desktop.html :: header_desktop">-- thymeleaf
      header_desktop --
    </div>
  </header>
  <!-- Header / End -->

  <!-- Pushy Panel - Dark -->
  <div th:replace="/fragments/custom_pushy_panel.html :: custom_pushy_panel">-- thymeleaf
    custom_pushy_panel --
  </div>
  <!-- Pushy Panel - Dark / End -->

  <!-- Page Heading
  ================================================== -->
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h1 class="page-heading__title">Over<span class="highlight">View</span></h1>
          <ol class="page-heading__breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="_soccer_index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="_soccer_team-overview.html">Team</a></li>
            <li class="breadcrumb-item active" aria-current="page">Overview</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Heading / End -->


  <!-- Content
  ================================================== -->
  <div class="site-content">
    <div class="container">

      <div class="row">

        <div class="col-md-11">
          <div class="card">
            <header class="card__header card__header--has-btn">
              <h4>같이 응원 하자</h4>
            </header>
            <div class="card__content">
              <div class="map_wrap">
                <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                <div class="hAddr">
                  <span class="title">지도중심기준 행정동 주소정보</span>
                  <span id="centerAddr"></span>
                </div>
              </div>

              <br>
              <form action="/map/create.do" method="post" id="create">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="control-label" for="input-default">내용</label>
                      <textarea class="form-control" name="content" id="input-default" style="height: 130px"
                                placeholder="Your placeholder text..."></textarea>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label">날짜</label>
                      <input type="date" class="form-control" name="date"
                             placeholder="Your placeholder text...">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label">응원 할 구단</label>
                      <select class="form-control" name="team">
                        <option value="1">울산 현대</option>
                        <option value="2">수원 삼성</option>
                        <option value="3">포항 스틸러스</option>
                        <option value="4">제주 유나이티드</option>
                        <option value="5">전북 현대</option>
                        <option value="6">부산 아이파크</option>
                        <option value="7">전남 드래곤즈</option>
                        <option value="8">성남 FC</option>
                        <option value="9">FC 서울</option>
                        <option value="10">대전 하나 시티즌</option>
                        <option value="11">대구 FC</option>
                        <option value="12">인천 유나이티드</option>
                        <option value="13">경남 FC</option>
                        <option value="14">강원 FC</option>
                        <option value="15">광주 FC</option>
                        <option value="16">부천 FC</option>
                        <option value="17">FC 안양</option>
                        <option value="18">수원 FC</option>
                        <option value="19">서울 이랜드</option>
                        <option value="20">안산 그리너스</option>
                        <option value="21">충남 아산</option>
                        <option value="22">김천 상무</option>
                      </select>
                      <br><br>
                      <input type="hidden" name="xLoc" id="xLoc">
                      <input type="hidden" name="yLoc" id="yLoc">
                      <button type="button" id="sub" class="btn btn-info" style="float: right">마커 생성하기</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content / End -->


  <!-- Footer ================================================== -->
  <footer id="footer" class="footer">
    <!-- Footer Widgets -->
    <div th:replace="/fragments/footer_custom.html :: footer_custom">-- thymeleaf footer_custom
      --
    </div>
    <!-- Footer Secondary / End -->
  </footer>
  <!-- Footer / End -->


  <!-- Login/Register Tabs Modal -->
  <div th:replace="/fragments/login_register.html :: login_register">-- thymeleaf login_register
    --
  </div>
  <!-- Login/Register Tabs Modal / End -->

</div>
<div th:replace="/fragments/script_line.html :: script_line">-- thymeleaf script_line --</div>
<script>
  $(function () {

    var xLoc = 0, yLoc = 0;

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(37.4112279, 127.0947789), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
          mapTypeId: kakao.maps.MapTypeId.ROADMAP // 지도종류
        };

    // 지도를 생성한다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 지도에 마커를 생성하고 표시한다
    var marker = new kakao.maps.Marker({
      position: new kakao.maps.LatLng(37.4112279, 127.0947789), // 마커의 좌표
      // draggable : true, // 마커를 드래그 가능하도록 설정한다
      map: map // 마커를 표시할 지도 객체
    });


    var infowindow = new kakao.maps.InfoWindow({zindex:1});

    // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
    searchAddrFromCoords(map.getCenter(), displayCenterInfo);

    // 마커에 클릭 이벤트를 등록한다 (우클릭 : rightclick)
    kakao.maps.event.addListener(marker, 'click', function () {
      alert('마커를 클릭했습니다!');
      console.log(marker.position())
    });

    // 마커에 mouseover 이벤트를 등록한다
    kakao.maps.event.addListener(marker, 'mouseover', function () {
      console.log('마커에 mouseover 이벤트가 발생했습니다!');
    });

    // 마커에 mouseout 이벤트 등록
    kakao.maps.event.addListener(marker, 'mouseout', function () {
      console.log('마커에 mouseout 이벤트가 발생했습니다!');
    });

// 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
    kakao.maps.event.addListener(map, 'click', function (mouseEvent) {

      // 클릭한 위도, 경도 정보를 가져옵니다
      var latlng = mouseEvent.latLng;

      // 마커 위치를 클릭한 위치로 옮깁니다
      marker.setPosition(latlng);

      xLoc = latlng.getLat();
      yLoc = latlng.getLng();

      searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
        if (status === kakao.maps.services.Status.OK) {
          var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
          detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

          var content = '<div class="bAddr">' +
                  '<span class="title">법정동 주소정보</span>' +
                  detailAddr +
                  '</div>';

          // 마커를 클릭한 위치에 표시합니다
          // marker.setPosition(mouseEvent.latLng);
          marker.setMap(map);

          // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
          infowindow.setContent(content);
          infowindow.open(map, marker);
        }
      });
    });



// 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'idle', function() {
      searchAddrFromCoords(map.getCenter(), displayCenterInfo);
    });

    function searchAddrFromCoords(coords, callback) {
      // 좌표로 행정동 주소 정보를 요청합니다
      geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
    }

    function searchDetailAddrFromCoords(coords, callback) {
      // 좌표로 법정동 상세 주소 정보를 요청합니다
      geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
    }

// 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
    function displayCenterInfo(result, status) {
      if (status === kakao.maps.services.Status.OK) {
        var infoDiv = document.getElementById('centerAddr');

        for(var i = 0; i < result.length; i++) {
          // 행정동의 region_type 값은 'H' 이므로
          if (result[i].region_type === 'H') {
            infoDiv.innerHTML = result[i].address_name;
            break;
          }
        }
      }
    }

    $("#sub").click(function (){
      $("#xLoc").val(xLoc);
      $("#yLoc").val(yLoc)
      $("#create").submit();
    })
  })
</script>
</body>
</html>
