---
layout: esports
page-title: Widgets Blog
page-heading: "Widgets <span class=\"highlight\">Blog</span>"

breadcrumbs: [
	{
		label: "Features",
		link: "_esports_features-shortcodes.html"
	},
	{
		label: "Widgets - Blog"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">
			<div class="col-md-4">

				{{> _esports_widget-categories }}

			</div>
			<div class="col-md-4">

				{{> _esports_widget-comments }}

			</div>
			<div class="col-md-4">

				{{> _esports_widget-tagcloud }}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> _esports_widget-popular-thumbs }}

			</div>
			<div class="col-md-4">

				{{> _esports_widget-popular }}

			</div>
			<div class="col-md-4">

				{{> _esports_widget-videos }}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> widget-social}}

				{{> widget-social-alt}}

			</div>
			<div class="col-md-4">

				{{> widget-social-player }}

				{{> widget-social-condensed }}

				{{> widget-social-grid }}

			</div>
			<div class="col-md-4">

				{{> _esports_widget-social }}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-md-4">

				{{> _esports_widget-tabbed }}

			</div>
			<div class="col-md-4">

				{{> _esports_widget-twitter }}

				{{> widget-calendar}}

			</div>
			<div class="col-md-4">

				{{> _esports_widget-banner}}

			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">

			<div class="col-lg-4">

				{{> _esports_widget-video title="YouTube" btn="true" id="iH0wacpNuDQ" thumbnail="assets/images/esports/samples/event-video2-cover-md.jpg"}}

				{{> _esports_widget-video title="Twitch" btn="true" id="thijs" provider="twitch" thumbnail="assets/images/esports/samples/event-video1-cover-lg.jpg"}}

			</div>

			<div class="col-lg-4">

				{{> _esports_widget-poll }}

			</div>

			<div class="col-lg-4">

				{{> _esports_widget-newsletter }}

			</div>

		</div>

	</div>
</div>

<!-- Content / End -->
