---
layout: esports
page-title: Single Post v3
page-heading: "Single Post <span class=\"highlight\">V3</span>"
post-heading-simple: true
megamenu: v3

breadcrumbs: [
	{
		label: "News",
		link: "_esports_blog-1.html"
	},
	{
		label: "Single Post V3"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">

			<!-- Content -->
			<div class="content col-lg-6 offset-lg-3">

				<!-- Article -->
				<article class="post post--single">

					<div class="post__category">
						<span class="label posts__cat-label posts__cat-label--category-1">The Team</span>
						<span class="label posts__cat-label posts__cat-label--category-4">Xenowatch</span>
					</div>
					<header class="post__header">
						<h2 class="post__title">Destroy will stream the mercenaries mission</h2>
						<ul class="post__meta meta">
							<li class="meta__item meta__item--author"><img src="{{../root}}assets/images/samples/avatar-12-xs.jpg" alt="Post Author Avatar"> by Eric Rodgers</li>
							<li class="meta__item meta__item--date"><time datetime="2018-08-27">August 27th, 2018</time></li>
						</ul>
					</header>

					<div class="post__content-wrapper">
						{{> _esports_post-sharing-heading class="stacked" }}
						<div class="post__content">
							<div class="post__content--inner-left">
								<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam ede corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure nderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>

								<div class="spacer"></div>

								<h4>Other Xenowatch Streams</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea modo sequat. Duis aute irure dolor in reprehenderit in voluriatur.</p>

								<div class="spacer-sm"></div>

								<figure class="alignleft">
									<img src="{{../root}}assets/images/esports/samples/single-post-img1.jpg" alt="">
									<figcaption>Shooter McShootieface will be playing the Wild West mission</figcaption>
								</figure>

								<div class="spacer-lg"></div>

								<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiare deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste denatus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae en dolorem der ipsum laboris.</p>
							</div>
						</div>
					</div>

					{{> _esports_post-footer }}

				</article>
				<!-- Article / End -->

			</div>
			<!-- Content / End -->

		</div>

	</div>
</div>

<!-- Content / End -->


<!-- Post Comments -->
<div class="section section--bg1">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">

				{{> _esports_post-comments-section }}

				<div class="spacer-lg"></div>

				{{> _esports_post-comments-form-section }}

			</div>
		</div>
	</div>
</div>
<!-- Post Comments / End -->

<!-- Posts Related -->
<div class="section section--no-paddings">
	{{> _esports_post-related-2 }}
</div>
<!-- Posts Related / End -->
