---
layout: esports
page-title: Wishlist
page-heading: "Your <span class=\"highlight\">Wishlist</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "Shop",
		link: "_esports_shop-fullwidth.html"
	},
	{
		label: "Wishlist"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- Wishlist Card -->
		<div class="card">
			<div class="card__header card__header--has-btn">
				<h4>Your Wishlist</h4>
				<a class="btn btn-default btn-xs card-header__button" href="#">Clear Wishlist Items</a>
			</div>
			<div class="card__content pt-0">
				<div class="card__subheader card__subheader--sm card__subheader--side">
					<h5>Wishlist Items (6)</h5>
				</div>
				<!-- Wishlist -->
				<ul class="alc-products-wishlist list-unstyled">

					{{#each esports.products.wishlist}}
					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb">
							<a href="_esports_shop-product.html"><img src="{{../root}}assets/images/esports/samples/{{thumb}}" alt=""></a>
							<a href="#" class="alc-product-wishlist__close btn-circle btn-default btn-xs">
								<i class="fas fa-times"></i>
							</a>
						</figure>
						<div class="alc-product-wishlist__body">
							<h5 class="alc-product-wishlist__title"><a href="_esports_shop-product.html">{{title}} - {{price}}</a></h5>
							<div class="alc-product-wishlist__ratings">
								{{#repeat rating.full}}
								<i class="fas fa-star"></i>
								{{/repeat}}
								{{#repeat rating.empty}}
								<i class="fas fa-star empty"></i>
								{{/repeat}}
							</div>
							<a href="_esports_shop-cart.html" class="btn btn-primary-inverse btn-xs">Add to bag</a>
						</div>
					</li>
					{{/each}}

					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb"></figure>
					</li>
					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb"></figure>
					</li>
					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb"></figure>
					</li>
					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb"></figure>
					</li>
					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb"></figure>
					</li>
					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb"></figure>
					</li>
					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb"></figure>
					</li>
					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb"></figure>
					</li>
					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb"></figure>
					</li>
					<li class="alc-product-wishlist__item">
						<figure class="alc-product-wishlist__thumb"></figure>
					</li>
				</ul>
				<!-- Wishlist / End -->

			</div>
		</div>
		<!-- Wishlist Card / End -->

	</div>
</div>

<!-- Content / End -->
