<!-- Breaking News -->
<div class="marquee-wrapper">
	<div class="container">

		<div class="marquee-label">
			Breaking News
		</div>
		<div class="marquee" data-startvisible="true" data-duration="18000" data-gap="10" data-duplicated="true">
			<ul class="posts posts--inline">
				{{#each football.posts.marquee}}
				<li class="posts__item">
					<h6 class="posts__title"><a href="_football_blog-post-1.html">{{title}}</a></h6>
					<div class="posts__excerpt">{{excerpt}}</div>
				</li>
				{{/each}}
			</ul>
		</div>

	</div>
</div>
<!-- Breaking News / End -->
